@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "variables.css";

/* Extra small devices (phones, 600px and down) */
/* iPhone potrait only */
@media only screen and (max-width: 600px) and (orientation: portrait)  {
   #homePage {
        background-color: var(--orange-white);
    }
   #homeBody{
        background-color: var(--orange-white);
        min-height: 706px;
        margin-left: 10px;
        margin-right: 10px;
      }
   #mainHeader{
        background-color: var(--orange-white);
        height: 110px;
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto;
        grid-column-gap: 0px;
        justify-content: space-between;
        border: none !important;
    }
    #homePageBottomSpacing{
        height: 20px;
        width: auto;
    }
   #hamIcon{
        width: 30px;
        height: auto;
        align-self: center;
    }
    #backIcon{
        width: 30px;
        height: auto;
        align-self: center;
    }
   #logo{
        width: 191.06px;
        height: auto;
        grid-column: 2 / span 6;
        grid-row: 1;
        justify-self: center;
        align-self: center;
    }
   #headerAuthText, #headerAuthText1{
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 18px;
        font-weight: 600;
        justify-self: center;
        align-self: center;
        text-shadow:0 0px 0;
    }
    #searchBar{
        width: auto;
        height: 37px;
        grid-column: 1 / span 7;
        grid-row: 2;
        border-radius: 5px;
    }
    #search{
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 16px;
        font-weight: 500;
        border-style: solid;
        border-color: var(--celtic);
        border-width: 1px;
        border-radius: 5px;
        padding-right: 35px;
        background-repeat: no-repeat;
        background: url("../themes/images/searchIcon.png") no-repeat right #E1EEDD;
        background-size: 25px;
        background-position: 98% 50%;
        text-shadow:0 0px 0;
    }
   #cartIcon{
        width: 30px;
        height: auto;
    }
    ::placeholder {
        color: var(--tundora);
        font-family: var(--base-font);
        font-size: 16px;
        font-weight: 500;
        text-shadow:0 0px 0;
      }
      #cartIconPlaceHolder{
        align-self: flex-end;
        justify-self: center;
        display: flex;
    }
     #mainFooter{
          background-color: var(--willow-brook);
          width:auto;
          height: 80px;
          display: grid;
          grid-template-rows:40px 40px;
          grid-template-columns: auto 70px auto 70px auto;
          justify-content: center;
          align-content: center;
      }
     #footerNavigationText{
        display:none;
      }
     #privacyDataText{
        font-family: var(--base-font);
        font-size: 12px;
        font-weight: 300;
        color: var(--celtic);
        justify-self: center;
        align-self: center;
        text-shadow:0 0px 0;
      }
     #copyrightText{
        font-family: var(--base-font);
        font-size: 10px;
        font-weight: 300;
        color: var(--celtic);
        justify-self: center;
        align-self: center;
        text-shadow:0 0px 0;
      }
     #restaurantCard{
        width: auto;
        height: 96px;
        background: #FEFBE9;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        margin-bottom: 10px;
        position: relative;
    }
   #restaurantCardGrid{
        display: grid;
        grid-template-columns: 109px auto auto;
        height: 96px;
    }
   #restaurantThumbnail{
        height: 75.05px;
        width: 79px;
        align-self: center;
    }
   #restaurantThumbnailContainer{
        display: flex;
        align-items: center;
        justify-content: center;
    }
   #restaurantCardData{
        display: grid;
        grid-template-rows: 25px 25px 25px;
        height: 75px;
        align-self: center;
    }
   #ratingStars{
        width: 123.85px;
        height: 18px;
        align-self: center;
    }
   #restaurantCardMainText{
        font-family: var(--base-font);;
        font-size: 18px;
        font-weight: 400;
        color: var(--celtic);
        margin: 0px;
        align-self: center;
    }
   #restaurantCardSubText{
        font-family: var(--base-font);;
        font-size: 14px;
        font-weight: 400;
        color: var(--celtic);
        margin: 0px;
        align-self: center;
        text-shadow:0 0px 0;
    }
   #restaurantCardGridHeartIconContainer{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-bottom: 10px;
        padding-right: 10px;
    }
   #heartIcon{
        height: 17.8px;
        width: 20.57px;
    }
   #yellowBtnWithIcon{
        width: 91px;
        height: 31px;
        border-radius: 5px;
        background-color: var(--cream-can);
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 15px;
        justify-content: center;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
   #yellowBtnIcon{
        font-size: 14px;
        display: inline-block;
        align-self: center;
    }
   #yellowBtnText{
        font-family: var(--base-font);;
        font-size: 14px;
        font-weight: 600;
        color: var(--celtic);
        margin: 0px;
        display: inline-block;
        align-self: center;
        text-shadow:0 0px 0;
    }
   #restaurantList{
        margin-top: 20px;
        margin-bottom: 30px;
    } 
   #systemFeedbackPopup {
        width: 376px;
        height: 204px;
        background-color: var(--orange-white);
    }
   #systemFeedbackPopupContent {
        width: auto;
        height: 204px;
        display: grid;
        grid-template-rows: 67.3px 67.3px 67.3px;
        background-color: var(--orange-white);
    }
   #systemFeedbackPopupHeading{
        font-family: var(--base-font);;
        font-weight: 600;
        font-size: 18px;
        color: var(--celtic);
        margin: 0px;
        display: inline-block;
        justify-self: center;
        align-self: flex-end;
        text-shadow:0 0px 0;
    }
   #systemFeedbackPopupSubText{
        font-family: var(--base-font);;
        font-weight: 400;
        font-size: 14px;
        color: var(--celtic);
        margin: 0px;
        text-shadow:0 0px 0;
    }
   #yellowBtnFeedbackPopup{
        width: 91px;
        height: 31px;
        border-radius: 5px;
        background-color: var(--cream-can);
        display: inline-block;
        justify-self: center;
        align-self: flex-start;
    }
   #yellowBtnFeedbackPopupContent{
        display: flex;
        width: 91px;
        height: 31px;
        justify-content: center;
        align-items: center;
    }
   #systemFeedbackSubTextContainer{
        display: inline-block;
        align-self: center;
        padding-left: 25px;
        padding-right: 25px;
    }
    #popupCloseIcon{
        color: var(--celtic);
        font-size: 32px;
        position: absolute;
        right: 10px;
        top: 10px;
    }
    #emptyListText{
        font-family: var(--base-font);;
        font-size: 14px;
        font-weight: 600;
        color: var(--celtic);
        margin: 0px;
        text-align: center;
        padding-top: 30px;
        margin-bottom: 30px;
        text-shadow:0 0px 0;
    }
    #popupMenu{
        min-width: 311px;   

    }
    a:link {
        text-decoration: none;
      }
      
    a:visited {
    text-decoration: none;
    }
    
    a:hover {
    text-decoration: none;
    }
    
    a:active {
    text-decoration: none;
    }

    .navigation-feedback{
        margin-top:200px;
    }
}

/* iPhone Landscape */
@media only screen and (max-width: 900px) and (orientation: landscape) {
   #homePage {
        background-color: var(--orange-white);
    }
   #homeBody{
        background-color: #fefbe9;
        min-height: 188px;
        margin-left: 10px;
        margin-right: 10px;
      }
   #mainHeader{
        background-color: var(--orange-white);
        height: 110px;
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto;
        grid-column-gap: 0px;
        justify-content: space-between;
        border: none !important;
    }
    #homePageBottomSpacing{
        height: 20px;
        width: auto;
    }
   #hamIcon{
        width: 30px;
        height: auto;
        align-self: center;
    }
    #backIcon{
        width: 30px;
        height: auto;
        align-self: center;
    }
   #logo{
        width: 191.06px;
        height: auto;
        grid-column: 2 / span 6;
        grid-row: 1;
        justify-self: center;
        align-self: center;
    }
   #headerAuthText, #headerAuthText1{
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 18px;
        font-weight: 600;
        justify-self: center;
        align-self: center;
        text-shadow:0 0px 0;
    }
    #searchBar{
        width: auto;
        height: 37px;
        grid-column: 1 / span 7;
        grid-row: 2;
        border-radius: 5px;
    }
    #search{
        background-color: var(--willow-brook);
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 16px;
        font-weight: 500;
        border-style: solid;
        border-color: var(--celtic);
        border-width: 1px;
        border-radius: 5px;
        padding-right: 45px;
        background-repeat: no-repeat;
        background: url("../themes/images/searchIcon.png") no-repeat right #E1EEDD;
        background-size: 25px;
        background-position: 98% 50%;
        text-shadow:0 0px 0;
    }
   #cartIcon{
        width: 30px;
        height: auto;
    }
    ::placeholder {
        color: var(--tundora);
        font-family: var(--base-font);
        font-size: 16px;
        font-weight: 500;
      }
    #cartIconPlaceHolder{
        align-self: flex-end;
        justify-self: center;
        display: flex;
    }
     #searchIcon{
        width: 26px;
        height: auto;
        position: absolute;
        /* right: 0px; */
    }
    #mainFooter{
        background-color: var(--willow-brook);
        width:auto;
        height: 116px;
        display: grid;
        grid-template-rows:38.6px 38.6px 38.6px;
        grid-template-columns: 90px 120px auto 120px 90px;
        justify-content: center;
        align-content: space-around;
    }
     #footerNavigationText{
        font-family: var(--base-font);
        font-size: 14px;
        font-weight: 400;
        color: var(--celtic);
        justify-self: center;
        align-self: center;
        text-shadow:0 0px 0;
    }
     #privacyDataText{
        font-family: var(--base-font);
        font-size: 12px;
        font-weight: 300;
        color: var(--celtic);
        justify-self: center;
        align-self: center;
        text-shadow:0 0px 0;
      }
     #copyrightText{
        font-family: var(--base-font);
        font-size: 10px;
        font-weight: 300;
        color: var(--celtic);
        justify-self: center;
        align-self: center;
        text-shadow:0 0px 0;
      }
     #restaurantCard{
        width: auto;
        height: 96px;
        background: #FEFBE9;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        margin-bottom: 10px;
        position: relative;
    }
   #restaurantCardGrid{
        display: grid;
        grid-template-columns: 109px auto auto;
        height: 96px;
    }
   #restaurantThumbnail{
        height: 75.05px;
        width: 79px;
        align-self: center;
    }
   #restaurantThumbnailContainer{
        display: flex;
        align-items: center;
        justify-content: center;
    }
   #restaurantCardData{
        display: grid;
        grid-template-rows: 25px 25px 25px;
        height: 75px;
        align-self: center;
    }
   #ratingStars{
        width: 123.85px;
        height: 18px;
        align-self: center;
    }
   #restaurantCardMainText{
        font-family: var(--base-font);;
        font-size: 18px;
        font-weight: 400;
        color: var(--celtic);
        margin: 0px;
        align-self: center;
        text-shadow:0 0px 0;
    }
   #restaurantCardSubText{
        font-family: var(--base-font);;
        font-size: 14px;
        font-weight: 400;
        color: #183A1D;
        margin: 0px;
        align-self: center;
        text-shadow:0 0px 0;
    }
   #restaurantCardGridHeartIconContainer{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-bottom: 10px;
        padding-right: 10px;
    }
   #heartIcon{
        height: 17.8px;
        width: 20.57px;
    }
   #yellowBtnWithIcon{
        width: 91px;
        height: 31px;
        border-radius: 5px;
        background-color: var(--cream-can);
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 15px;
        justify-content: center;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
   #yellowBtnIcon{
        font-size: 14px;
        display: inline-block;
        align-self: center;
    }
   #yellowBtnText{
        font-family: var(--base-font);;
        font-size: 14px;
        font-weight: 600;
        color: var(--celtic);
        margin: 0px;
        display: inline-block;
        align-self: center;
        text-shadow:0 0px 0;
    }
   #restaurantList{
        margin-top: 20px;
        margin-bottom: 30px;
    }
    #systemFeedbackPopup {
        width: 528px;
        height: 180;
        background-color: var(--orange-white);
    }
   #systemFeedbackPopupContent {
        width: auto;
        height: 210px;
        display: grid;
        grid-template-rows: 70px 70px 70px;
        background-color: var(--orange-white);
    }
   #systemFeedbackPopupHeading{
        font-family: var(--base-font);;
        font-weight: 600;
        font-size: 18px;
        color: var(--celtic);
        margin: 0px;
        display: inline-block;
        justify-self: center;
        align-self: flex-end;
        text-shadow:0 0px 0;
    }
   #systemFeedbackPopupSubText{
        font-family: var(--base-font);;
        font-weight: 400;
        font-size: 14px;
        color: var(--celtic);
        margin: 0px;
        text-shadow:0 0px 0;
    }
   #yellowBtnFeedbackPopup{
        width: 91px;
        height: 31px;
        border-radius: 5px;
        background-color: var(--cream-can);
        display: inline-block;
        justify-self: center;
        align-self: flex-start;
    }
   #yellowBtnFeedbackPopupContent{
        display: flex;
        width: 91px;
        height: 31px;
        justify-content: center;
        align-items: center;
    }
   #systemFeedbackSubTextContainer{
        display: inline-block;
        align-self: center;
        padding-left: 25px;
        padding-right: 25px;
    }
    #popupCloseIcon{
        color: var(--celtic);
        font-size: 32px;
        position: absolute;
        right: 10px;
        top: 10px;
    }
    #emptyListText{
        font-family: var(--base-font);;
        font-size: 14px;
        font-weight: 600;
        color: var(--celtic);
        margin: 0px;
        text-align: center;
        padding-top: 30px;
        margin-bottom: 30px;
        text-shadow:0 0px 0;
    }
    #popupMenu{
        min-width: 609px;
    }
    a:link {
        text-decoration: none;
      }
      
    a:visited {
    text-decoration: none;
    }
    
    a:hover {
    text-decoration: none;
    }
    
    a:active {
    text-decoration: none;
    }
    .navigation-feedback{
        margin-top:100px;
    }
}

/* Medium devices */
/* iPad Pro Portrait only */
@media only screen and (min-width: 768px) and (orientation: portrait) {
   #homePage {
        background-color: var(--orange-white);
    }
   #homeBody{
        background-color: var(--orange-white);
        min-height: 1046px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 60px;
      }
   #mainHeader{
        background-color: var(--orange-white);
        height: 110px;
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto;
        grid-column-gap: 0px;
        justify-content: space-between;
        border: none !important;
    }
    #homePageBottomSpacing{
        height: 40px;
        width: auto;
    }
   #hamIcon{
        width: 40px;
        height: auto;
        align-self: center;
    }
    #backIcon{
        width: 40px;
        height: auto;
        align-self: center;
    }
   #logo{
        width: 232.79px;
        height: auto;
        grid-column: 2 / span 6;
        grid-row: 1;
        justify-self: center;
        align-self: center;
    }
   #headerAuthText, #headerAuthText1{
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 24px;
        font-weight: 600;
        justify-self: center;
        align-self: center;
        text-shadow:0 0px 0;
    }
    #searchBar{
        width: auto;
        height: 48px;
        grid-column: 1 / span 7;
        grid-row: 2;
        border-radius: 5px;
    }
    #search{
        background-color: var(--willow-brook);
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 22px;
        font-weight: 500;
        border-style: solid;
        border-color:var(--celtic);
        border-width: 1px;
        border-radius: 5px;
        padding-right: 65px;
        background-repeat: no-repeat;
        background: url("../themes/images/searchIcon.png") no-repeat right #E1EEDD;
        background-size: 35px;
        background-position: 98% 50%;
        text-shadow:0 0px 0;
    }
   #cartIcon{
        width: 35.18px;
        height: auto;
    }
    ::placeholder {
        color: var(--tundora);
        font-family: var(--base-font);
        font-size: 22px;
        font-weight: 500;
        text-shadow:0 0px 0;
      }
    #cartIconPlaceHolder{
        align-self: flex-end;
        justify-self: center;
        display: flex;
    }
     #searchIcon{
        width: 27.14px;
        height: auto;
        position: absolute;
      }
     #mainFooter{
          background-color: var(--willow-brook);
          width:auto;
          height: 150px;
          display: grid;
          grid-template-rows:75px 75px;
          grid-template-columns: auto 110px auto 110px auto;
          justify-content: center;
          align-content: center;
      }
     #footerNavigationText{
        display:none;
      }
     #privacyDataText{
        font-family: var(--base-font);
        font-size: 18px;
        font-weight: 300;
        color: var(--celtic);
        justify-self: center;
        align-self: center;
        text-shadow:0 0px 0;
      }
     #copyrightText{
        font-family: var(--base-font);
        font-size: 14px;
        font-weight: 300;
        color: var(--celtic);
        justify-self: center;
        align-self: center;
        text-shadow:0 0px 0;
      }
     #restaurantCard{
        width: auto;
        height: 192px;
        background: #FEFBE9;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        margin-bottom: 20px;
        position: relative;
    }
   #restaurantCardGrid{
        display: grid;
        grid-template-columns: 224px auto auto;
        height: 192px;
    }
   #restaurantThumbnail{
        height: 153.46px;
        width: 154px;
        align-self: center;
    }
   #restaurantThumbnailContainer{
        display: flex;
        align-items: center;
        justify-content: center;
    }
   #restaurantCardData{
        display: grid;
        grid-template-rows: 51.1px 51.1px 51.1px;
        height: 153.46px;
        align-self: center;
    }
   #ratingStars{
        width: 240.78px;
        height: 34.67px;
        align-self: center;
    }
   #restaurantCardMainText{
        font-family: var(--base-font);;
        font-size: 36px;
        font-weight: 400;
        color: var(--celtic);
        margin: 0px;
        align-self: center;
        text-shadow:0 0px 0;
    }
   #restaurantCardSubText{
        font-family: var(--base-font);;
        font-size: 28px;
        font-weight: 400;
        color: var(--celtic);
        margin: 0px;
        align-self: center;
        text-shadow:0 0px 0;
    }
   #restaurantCardGridHeartIconContainer{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-bottom: 10px;
        padding-right: 10px;
    }
   #heartIcon{
        height: 37px;
        width: 40.33px;
    }
   #yellowBtnWithIcon{
        width: 185px;
        height: 56.89px;
        border-radius: 5px;
        background-color: var(--cream-can);
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 25px;
        justify-content: center;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
   #yellowBtnIcon{
        font-size: 26px;
        display: inline-block;
        align-self: center;
    }
   #yellowBtnText{
        font-family: var(--base-font);;
        font-size: 26px;
        font-weight: 600;
        color: var(--celtic);
        margin: 0px;
        display: inline-block;
        align-self: center;
        text-shadow:0 0px 0;
    }
   #restaurantList{
        margin-top: 40px;
        margin-bottom: 60px;
    }
    #systemFeedbackPopup {
        width: 700px;
        height: 459px;
        background-color: var(--orange-white);
    }
   #systemFeedbackPopupContent {
        width: auto;
        height: 459px;
        display: grid;
        grid-template-rows: 153px 153px 153px;
        background-color: var(--orange-white);
    }
   #systemFeedbackPopupHeading{
        font-family: var(--base-font);;
        font-weight: 600;
        font-size: 36px;
        color: var(--celtic);
        margin: 0px;
        display: inline-block;
        justify-self: center;
        align-self: flex-end;
        text-shadow:0 0px 0;
    }
   #systemFeedbackPopupSubText{
        font-family: var(--base-font);;
        font-weight: 400;
        font-size: 28px;
        color: var(--celtic);
        margin: 0px;
        text-shadow:0 0px 0;
    }
   #yellowBtnFeedbackPopup{
        width: 247.83px;
        height: 69.75px;
        border-radius: 5px;
        background-color: var(--cream-can);
        display: inline-block;
        justify-self: center;
        align-self: flex-start;
    }
   #yellowBtnFeedbackPopupContent{
        display: flex;
        width: 247.83px;
        height: 69.75px;
        justify-content: center;
        align-items: center;
    }
   #systemFeedbackSubTextContainer{
        display: inline-block;
        align-self: center;
        padding-left: 50px;
        padding-right: 50px;
    }
    #popupCloseIcon{
        color: var(--celtic);
        font-size: 60px;
        position: absolute;
        right: 15px;
        top: 15px;
    }
    #emptyListText{
        font-family: var(--base-font);;
        font-size: 24px;
        font-weight: 600;
        color: var(--celtic);
        margin: 0px;
        text-align: center;
        padding-top: 60px;
        margin-bottom: 6px;
        text-shadow:0 0px 0;
    }
    #popupMenu{
        min-width: 576px;
    }
    a:link {
        text-decoration: none;
      }
      
    a:visited {
    text-decoration: none;
    }
    
    a:hover {
    text-decoration: none;
    }
    
    a:active {
    text-decoration: none;
    }
    .navigation-feedback{
        margin-top:650px;
    }
}


/* iPad Pro Landscape */
@media only screen and (min-width: 1024px) and (orientation: landscape) {
   #homePage {
        background-color: var(--orange-white);
    }
   #homeBody{
        background-color: var(--orange-white);
        min-height: 654px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 60px;
      }
   #mainHeader{
        background-color: var(--orange-white);
        height: 110px;
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto;
        grid-column-gap: 0px;
        justify-content: space-between;
        border: none !important;
    }
    #homePageBottomSpacing{
        height: 40px;
        width: auto;
    }
   #hamIcon{
        width: 40px;
        height: auto;
        align-self: center;
    }
    #backIcon{
        width: 40px;
        height: auto;
        align-self: center;
    }
   #logo{
        width: 232.79px;
        height: auto;
        grid-column: 2 / span 6;
        grid-row: 1;
        justify-self: center;
        align-self: center;
    }
   #headerAuthText, #headerAuthText1{
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 24px;
        font-weight: 600;
        justify-self: center;
        align-self: center;
        text-shadow:0 0px 0;
    }
    #searchBar{
        width: auto;
        height: 48px;
        grid-column: 1 / span 7;
        grid-row: 2;
        border-radius: 5px;
    }
    #search{
        background-color: var(--willow-brook);
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 22px;
        font-weight: 500;
        border-style: solid;
        border-color:var(--celtic);
        border-width: 1px;
        border-radius: 5px;
        padding-right: 65px;
        background-repeat: no-repeat;
        background: url("../themes/images/searchIcon.png") no-repeat right #E1EEDD;
        background-size: 35px;
        background-position: 98% 50%;
        text-shadow:0 0px 0;
    }
   #cartIcon{
        width: 35.18px;
        height: auto;
        align-self: center;
        justify-self: center;
    }
    ::placeholder {
        color: var(--tundora);
        font-family: var(--base-font);
        font-size: 22px;
        font-weight: 500;
        text-shadow:0 0px 0;
      }
      #cartIconPlaceHolder{
        align-self: flex-end;
        justify-self: center;
        display: flex;
    }
     #searchIcon{
        width: 27.14px;
        height: auto;
        position: absolute;
      }
     #mainFooter{
          background-color: var(--willow-brook);
          width:auto;
          height: 200px;
          display: grid;
          grid-template-rows:66.6px 66.6px  66.6px;
          grid-template-columns: 160px 120px auto 120px 160px;
          justify-content: center;
          align-content: center;
      }
     #footerNavigationText{
        font-family: var(--base-font);
        font-size: 18px;
        font-weight: 400;
        color: var(--celtic);
        justify-self: center;
        align-self: center;
        text-shadow:0 0px 0;
      }
     #privacyDataText{
        font-family: var(--base-font);
        font-size: 18px;
        font-weight: 300;
        color: var(--celtic);
        justify-self: center;
        align-self: center;
        text-shadow:0 0px 0;
      }
     #copyrightText{
        font-family: var(--base-font);
        font-size: 14px;
        font-weight: 300;
        color: var(--celtic);
        justify-self: center;
        align-self: center;
        text-shadow:0 0px 0;
      }
     #restaurantCard{
        width: auto;
        height: 192px;
        background: #FEFBE9;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        margin-bottom: 20px;
        position: relative;
    }
   #restaurantCardGrid{
        display: grid;
        grid-template-columns: 224px auto auto;
        height: 192px;
    }
   #restaurantThumbnail{
        height: 153.46px;
        width: 154px;
        align-self: center;
    }
   #restaurantThumbnailContainer{
        display: flex;
        align-items: center;
        justify-content: center;
    }
   #restaurantCardData{
        display: grid;
        grid-template-rows: 51.1px 51.1px 51.1px;
        height: 153.46px;
        align-self: center;
    }
   #ratingStars{
        width: 240.78px;
        height: 34.67px;
        align-self: center;
    }
   #restaurantCardMainText{
        font-family: var(--base-font);;
        font-size: 36px;
        font-weight: 400;
        color: var(--celtic);
        margin: 0px;
        align-self: center;
        text-shadow:0 0px 0;
    }
   #restaurantCardSubText{
        font-family: var(--base-font);;
        font-size: 28px;
        font-weight: 400;
        color: var(--celtic);
        margin: 0px;
        align-self: center;
        text-shadow:0 0px 0;
    }
   #restaurantCardGridHeartIconContainer{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-bottom: 10px;
        padding-right: 10px;
    }
   #heartIcon{
        height: 37px;
        width: 40.33px;
    }
   #yellowBtnWithIcon{
        width: 185px;
        height: 56.89px;
        border-radius: 5px;
        background-color: var(--cream-can);
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 25px;
        justify-content: center;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
   #yellowBtnIcon{
        font-size: 26px;
        display: inline-block;
        align-self: center;
    }
   #yellowBtnText{
        font-family: var(--base-font);;
        font-size: 26px;
        font-weight: 600;
        color: var(--celtic);
        margin: 0px;
        display: inline-block;
        align-self: center;
        text-shadow:0 0px 0;
    }
   #restaurantList{
        margin-top: 40px;
        margin-bottom: 60px;
    }
    #systemFeedbackPopup {
        width: 1020px;
        height: 459px;
        background-color: var(--orange-white);
    }
   #systemFeedbackPopupContent {
        width: auto;
        height: 459px;
        display: grid;
        grid-template-rows: 153px 153px 153px;
        background-color: var(--orange-white);
    }
   #systemFeedbackPopupHeading{
        font-family: var(--base-font);;
        font-weight: 600;
        font-size: 36px;
        color: var(--celtic);
        margin: 0px;
        display: inline-block;
        justify-self: center;
        align-self: flex-end;
        text-shadow:0 0px 0;
    }
   #systemFeedbackPopupSubText{
        font-family: var(--base-font);;
        font-weight: 400;
        font-size: 28px;
        color: var(--celtic);
        margin: 0px;
        text-shadow:0 0px 0;
    }
   #yellowBtnFeedbackPopup{
        width: 247.83px;
        height: 69.75px;
        border-radius: 5px;
        background-color: var(--cream-can);
        display: inline-block;
        justify-self: center;
        align-self: flex-start;
    }
   #yellowBtnFeedbackPopupContent{
        display: flex;
        width: 247.83px;
        height: 69.75px;
        justify-content: center;
        align-items: center;
    }
   #systemFeedbackSubTextContainer{
        display: inline-block;
        align-self: center;
        padding-left: 125px;
        padding-right: 125px;
    }
    #popupCloseIcon{
        color: var(--celtic);
        font-size: 60px;
        position: absolute;
        right: 15px;
        top: 15px;
    }
    #emptyListText{
        font-family: var(--base-font);;
        font-size: 24px;
        font-weight: 600;
        color: var(--celtic);
        margin: 0px;
        text-align: center;
        padding-top: 60px;
        margin-bottom: 6px;
        text-shadow:0 0px 0;
    }
    #popupMenu{
        min-width: 768px;
    }
    a:link {
        text-decoration: none;
      }
      
    a:visited {
    text-decoration: none;
    }
    
    a:hover {
    text-decoration: none;
    }
    
    a:active {
    text-decoration: none;
    }
    .navigation-feedback{
        margin-top:350px;
    }
}

/* Navigation bar */
.nav{
    margin-top: 20px;
}
#popupMenu{
    margin-top: -55px;
    margin-left: -20px;
} 
.material-icons.hamIcon{
    font-size: 36px;
    font-weight: bold;
    color: var(--celtic);
}
.material-icons.closeIcon{
    font-size: 40px;
    color: var(--cream-can);
}
.navigation-close{
    float: right;    
    margin-right: -40px;
    margin-top:30px;
}
.navigation-header{
    background-color: var(--willow-brook);
    font-family: var(--base-font);
    text-shadow:0 0px 0;
}
.navigation-profile-picture{
    width:92px;
    height:auto;
    float: left;
    margin-right: 42px;
    margin-left: 25px;
    margin-top:40px;
    

}
.navigation-profile-name,.navigation-urban-points{
    font-weight: bold;
    color: var(--celtic);
    
}
.navigation-profile-name{    
    font-size: 24px;
    padding-top: 65px;
}
.navigation-urban-points{
    font-size: 14px;  
    margin-top: -20px; 
}
.navigation-profile-button, .navigation-profile-button1{
    text-align: right;
    padding-right: 5px;;
    color: var(--celtic);
    font-size: 16px;
    padding-bottom: 5px;
    margin-block-end: 0px;
}
.menu_items{
    list-style-type: none;
    background-color: var(--orange-white); 
    padding-inline-start:0;
    margin-block-start: 0px;
    margin-block-end: 0px;
    
}
.menu_items li{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px; 
    color: var(--celtic);  
    font-size: 18px;
    font-family: var(--base-font);    
    border-bottom: 1px solid var(--cream-can);
    text-shadow:0 0px 0;
}
.menu_items li span{
    padding-right: 16px;
}
.menu_items a{
    color:var(--celtic);
    
}
.ui-page-theme-a a{
    color:var(--celtic);
    font-weight: unset;
}
.navigation-logo-container{
    width: 100%;
    text-align: center;
    background-color: var(--orange-white);  
    padding-top: 37px;
    padding-bottom: 37px;
}
.navigation-feedback{
    /* margin-top: 130px; */
    border-top: 1px solid var(--cream-can);

}
.navigation-logo{
    width: 193px;
    height: auto;    
}