:root{
    /* Colors */
    --orange-white: #FEFBE9;
    --willow-brook: #E1EEDD;
    --celtic: #183A1D;
    --cream-can: #F6C453;
    --sandy-brown: #F0A04B;
    --tundora: #454545; 
    
    /*Font Families*/
    --base-font: "Poppins", "sans-serif";  

}