@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "../variables.css";
/* Extra small devices (phones, 600px and down) */
/* iPhone potrait only */
@media only screen and (max-width: 600px) and (orientation: portrait)  {
    #setLocationLargeBtn{
        width: 212px;
        height: 48px;
        background-color: var(--cream-can);
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 5px;
        margin-bottom: 15px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    #setLocationIcon{
        color: var(--celtic);
        font-size: 30px;
    }
    #cartRestaurantNameText{
        font-weight: 600;
        font-size: 18px;
        color: var(--celtic);
        margin-top: 0px;
        margin-bottom: 15px;
        font-family: var(--base-font);
        text-shadow:0 0px 0;
    }
    #smallYellowBtnText{
        font-weight: 500;
        font-size: 10px;
        margin: 0px;
        color: var(--celtic);
        font-family: var(--base-font);
        text-shadow:0 0px 0;
    }
    #smallYellowBtnIcon{
        color: var(--celtic);
        font-size: 12px;
    }
    #smallYellowBtn{
        width: 83.17px;
        height: 25px;
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: var(--cream-can);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    #labelTxtCart{
        font-weight: 500;
        font-size: 16px;
        color: var(--celtic);
        margin-bottom: 15px;
        margin-top: 15px;
        font-family: var(--base-font);
        text-shadow:0 0px 0;
    }
    #addressValueCart{
        font-weight: 400;
        font-size: 16px;
        color: var(--celtic);
        margin-top: 0px;
        margin-bottom: 30px;
        font-family: var(--base-font);
        text-shadow:0 0px 0;
    }
    #cartItemList{
        margin-top: 20px;
        margin-bottom: 20px;
        max-height: 202px;
        overflow-y: scroll;
    }
    #cardItemNameText{
        font-weight: 400;
        font-size: 18px;
        color: var(--celtic);
        margin: 0px;
        font-family: var(--base-font);
        align-self: flex-end;
        text-shadow:0 0px 0;
    }
    #cardItemPriceText{
        font-weight: 400;
        font-size: 16px;
        color: var(--celtic);
        margin: 0px;
        font-family: var(--base-font);
        align-self: flex-end;
        text-shadow:0 0px 0;
    }
    #cardItemButtonContainer{
        width: 123.73px;
        height: 30px;
        display: grid;
        grid-template-columns: 41.2px 41.2px 41.2px;
        grid-template-rows: 30px;
        column-gap: 5px;
    }
    #addIconCartItem{
        color: var(--celtic);
        font-size: 30px;
        justify-self: center;
    }
    #itemQtyCartContainer{
        width: 35px;
        height: 28px;
        background-color: var(--celtic);
        justify-self: center;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #itemQtyCartText{
        font-weight: 400;
        font-size: 20px;
        color: var(--orange-white);
        margin: 0px;
        font-family: var(--base-font);
        text-align: center;
        line-height: 30px;
        text-shadow:0 0px 0;
    }
    #cardTotalSection{
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto auto ;
        justify-content: space-between;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    #cardTotalSectionSmallTxtLeft{
        font-weight: 500;
        font-size: 16px;
        color: var(--celtic);
        margin-bottom: 10px;
        margin-top: 10px;
        font-family: var(--base-font);
        text-align: left;
        text-shadow:0 0px 0;
    }
    #cardTotalSectionSmallTxtRight{
        font-weight: 500;
        font-size: 16px;
        color: var(--celtic);
        margin-bottom: 10px;
        margin-top: 10px;
        font-family: var(--base-font);
        text-align: right;
        text-shadow:0 0px 0;
    }
    #cardTotalSectionLargeTxtLeft{
        font-weight: 700;
        font-size: 18px;
        color: var(--celtic);
        margin-bottom: 10px;
        margin-top: 10px;
        font-family: var(--base-font);
        text-align: left;
        text-shadow:0 0px 0;
    }
    #cardTotalSectionLargeTxtRight{
        font-weight: 700;
        font-size: 18px;
        color: var(--celtic);
        margin-bottom: 10px;
        margin-top: 10px;
        font-family: var(--base-font);
        text-align: right;
        text-shadow:0 0px 0;
    }
    #paymentMethodContainer{
        display: grid;
        grid-template-rows: auto auto ;
        grid-template-columns: auto auto ;
        justify-content: space-between;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    #paymentMethodIcon{
        color: var(--celtic);
        font-size: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-right: 10px;
    }
    #paymentMethodLabelContent{
        display: grid;
        grid-template-columns: auto auto ;
        align-content: center;
    }
    #radioBtn{
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 0px;
        margin-right: 0px;
        width: 20px;
        height: 20px;
        justify-self: flex-end;
        color: var(--celtic);
    }
    #promoCodeContainer{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto auto ;
        justify-content: space-between;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    #promoCodeInputContainer{
        width: 164px;
        height: 37px;
        border-radius: 5px;
        padding-bottom: 10px;
    }
    #promoInputField{
        background-color: var(--willow-brook);
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 16px;
        font-weight: 500;
        border-style: solid;
        border-color: var(--celtic);
        border-width: 1px;
        border-radius: 5px;
        text-shadow:0 0px 0;
    }
    #urbanPointsContainer{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto auto ;
        justify-content: space-between;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    #infoIconCartUP{
        color: var(--celtic);
        font-size: 12px;
        margin-left: 5px;
        align-self: center;
    }
    #cartCheckoutBtn{
        width: auto;
        height: 53px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        background-color: var(--cream-can);
        margin-top: 30px;
        margin-bottom: 30px;
    }
    #cartCheckoutBtnText{
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 18px;
        font-weight: 600;
        margin: 0px;
        text-shadow:0 0px 0;
    }
}

/* iPhone Landscape */
@media only screen and (max-width: 900px) and (orientation: landscape) {
    #setLocationLargeBtn{
        width: 212px;
        height: 48px;
        margin-bottom: 15px;
        background-color: var(--cream-can);
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 5px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    #setLocationIcon{
        color: var(--celtic);
        font-size: 30px;
    }
    #cartRestaurantNameText{
        font-weight: 600;
        font-size: 18px;
        color: var(--celtic);
        margin-top: 0px;
        margin-bottom: 15px;
        font-family: var(--base-font);
        text-shadow:0 0px 0;
    }
    #smallYellowBtnText{
        font-weight: 500;
        font-size: 10px;
        margin: 0px;
        color: var(--celtic);
        font-family: var(--base-font);
        text-shadow:0 0px 0;
    }
    #smallYellowBtnIcon{
        color: var(--celtic);
        font-size: 12px;
    }
    #smallYellowBtn{
        width: 83.17px;
        height: 25px;
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: var(--cream-can);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    #labelTxtCart{
        font-weight: 500;
        font-size: 16px;
        color: var(--celtic);
        margin-bottom: 15px;
        margin-top: 15px;
        font-family: var(--base-font);
        text-shadow:0 0px 0;
    }
    #addressValueCart{
        font-weight: 400;
        font-size: 16px;
        color: var(--celtic);
        margin-top: 0px;
        margin-bottom: 30px;
        font-family: var(--base-font);
        text-shadow:0 0px 0;
    }
    #cartItemList{
        margin-top: 20px;
        margin-bottom: 20px;
        max-height: 202px;
        overflow-y: scroll;
    }
    #cardItemNameText{
        font-weight: 400;
        font-size: 18px;
        color: var(--celtic);
        margin: 0px;
        font-family: var(--base-font);
        align-self: flex-end;
        text-shadow:0 0px 0;
    }
    #cardItemPriceText{
        font-weight: 400;
        font-size: 16px;
        color: var(--celtic);
        margin: 0px;
        font-family: var(--base-font);
        align-self: flex-end;
        text-shadow:0 0px 0;
    }
    #cardItemButtonContainer{
        width: 123.73px;
        height: 30px;
        display: grid;
        grid-template-columns: 41.2px 41.2px 41.2px;
        grid-template-rows: 30px;
        column-gap: 5px;
    }
    #addIconCartItem{
        color: var(--celtic);
        font-size: 30px;
        justify-self: center;
    }
    #itemQtyCartContainer{
        width: 35px;
        height: 28px;
        background-color: var(--celtic);
        justify-self: center;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #itemQtyCartText{
        font-weight: 400;
        font-size: 20px;
        color: var(--orange-white);
        margin: 0px;
        font-family: var(--base-font);
        text-align: center;
        line-height: 30px;
        text-shadow:0 0px 0;
    }
    #cardTotalSection{
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto auto ;
        justify-content: space-between;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    #cardTotalSectionSmallTxtLeft{
        font-weight: 500;
        font-size: 16px;
        color: var(--celtic);
        margin-bottom: 10px;
        margin-top: 10px;
        font-family: var(--base-font);
        text-align: left;
        text-shadow:0 0px 0;
    }
    #cardTotalSectionSmallTxtRight{
        font-weight: 500;
        font-size: 16px;
        color: var(--celtic);
        margin-bottom: 10px;
        margin-top: 10px;
        font-family: var(--base-font);
        text-align: right;
        text-shadow:0 0px 0;
    }
    #cardTotalSectionLargeTxtLeft{
        font-weight: 700;
        font-size: 18px;
        color: var(--celtic);
        margin-bottom: 10px;
        margin-top: 10px;
        font-family: var(--base-font);
        text-align: left;
        text-shadow:0 0px 0;
    }
    #cardTotalSectionLargeTxtRight{
        font-weight: 700;
        font-size: 18px;
        color: var(--celtic);
        margin-bottom: 10px;
        margin-top: 10px;
        font-family: var(--base-font);
        text-align: right;
        text-shadow:0 0px 0;
    }
    #paymentMethodContainer{
        display: grid;
        grid-template-rows: auto auto ;
        grid-template-columns: auto auto ;
        justify-content: space-between;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    #paymentMethodIcon{
        color: var(--celtic);
        font-size: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-right: 10px;
    }
    #paymentMethodLabelContent{
        display: grid;
        grid-template-columns: auto auto ;
        align-content: center;
    }
    #radioBtn{
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 0px;
        margin-right: 0px;
        width: 20px;
        height: 20px;
        justify-self: flex-end;
        color: var(--celtic);
    }
    #promoCodeContainer{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto auto ;
        justify-content: space-between;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    #promoCodeInputContainer{
        width: 164px;
        height: 37px;
        border-radius: 5px;
        padding-bottom: 10px;
    }
    #promoInputField{
        background-color: var(--willow-brook);
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 16px;
        font-weight: 500;
        border-style: solid;
        border-color: var(--celtic);
        border-width: 1px;
        border-radius: 5px;
        text-shadow:0 0px 0;
    }
    #urbanPointsContainer{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto auto ;
        justify-content: space-between;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    #infoIconCartUP{
        color: var(--celtic);
        font-size: 12px;
        margin-left: 5px;
        align-self: center;
    }
    #cartCheckoutBtn{
        width: auto;
        height: 53px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        background-color: var(--cream-can);
        margin-top: 30px;
        margin-bottom: 30px;
    }
    #cartCheckoutBtnText{
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 18px;
        font-weight: 600;
        margin: 0px;
        text-shadow:0 0px 0;
    }
}

/* Medium devices */
/* iPad Pro Portrait only */
@media only screen and (min-width: 768px) and (orientation: portrait) {
    #setLocationLargeBtn{
        width: 350px;
        height: 80px;
        margin-bottom: 30px;
        background-color: var(--cream-can);
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 5px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    #setLocationIcon{
        color: var(--celtic);
        font-size: 45px;
    }
    #cartRestaurantNameText{
        font-weight: 600;
        font-size: 28px;
        color: var(--celtic);
        margin-top: 0px;
        margin-bottom: 20px;
        font-family: var(--base-font);
        text-shadow:0 0px 0;
    }
    #smallYellowBtnText{
        font-weight: 500;
        font-size: 26px;
        margin: 0px;
        color: var(--celtic);
        font-family: var(--base-font);
        text-shadow:0 0px 0;
    }
    #smallYellowBtnIcon{
        color: var(--celtic);
        font-size: 26px;
    }
    #smallYellowBtn{
        width: 180px;
        height: 55px;
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: var(--cream-can);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    #labelTxtCart{
        font-weight: 500;
        font-size: 26px;
        color: var(--celtic);
        margin-bottom: 30px;
        margin-top: 30px;
        font-family: var(--base-font);
        text-shadow:0 0px 0;
    }
    #addressValueCart{
        font-weight: 400;
        font-size: 26px;
        color: var(--celtic);
        margin-top: 0px;
        margin-bottom: 60px;
        font-family: var(--base-font);
        text-shadow:0 0px 0;
    }
    #cartItemList{
        margin-top: 40px;
        margin-bottom: 40px;
        max-height: 404px;
        overflow-y: scroll;
    }
    #cardItemNameText{
        font-weight: 400;
        font-size: 36px;
        color: var(--celtic);
        margin: 0px;
        font-family: var(--base-font);
        align-self: flex-end;
        text-shadow:0 0px 0;
    }
    #cardItemPriceText{
        font-weight: 400;
        font-size: 28px;
        color: var(--celtic);
        margin: 0px;
        font-family: var(--base-font);
        align-self: flex-end;
        text-shadow:0 0px 0;
    }
    #cardItemButtonContainer{
        width: 240px;
        height: 50px;
        display: grid;
        grid-template-columns: 80px 80px 80px;
        grid-template-rows: 50px;
        column-gap: 10px;
    }
    #addIconCartItem{
        color: var(--celtic);
        font-size: 50px;
        justify-self: center;
    }
    #itemQtyCartContainer{
        width: 58.64px;
        height: 50px;
        background-color: var(--celtic);
        justify-self: center;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #itemQtyCartText{
        font-weight: 400;
        font-size: 35px;
        color: var(--orange-white);
        margin: 0px;
        font-family: var(--base-font);
        text-align: center;
        line-height: 30px;
        text-shadow:0 0px 0;
    }
    #cardTotalSection{
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto auto ;
        justify-content: space-between;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    #cardTotalSectionSmallTxtLeft{
        font-weight: 500;
        font-size: 26px;
        color: var(--celtic);
        margin-bottom: 20px;
        margin-top: 20px;
        font-family: var(--base-font);
        text-align: left;
        text-shadow:0 0px 0;
    }
    #cardTotalSectionSmallTxtRight{
        font-weight: 500;
        font-size: 26px;
        color: var(--celtic);
        margin-bottom: 20px;
        margin-top: 20px;
        font-family: var(--base-font);
        text-align: right;
        text-shadow:0 0px 0;
    }
    #cardTotalSectionLargeTxtLeft{
        font-weight: 700;
        font-size: 28px;
        color: var(--celtic);
        margin-bottom: 20px;
        margin-top: 20px;
        font-family: var(--base-font);
        text-align: left;
        text-shadow:0 0px 0;
    }
    #cardTotalSectionLargeTxtRight{
        font-weight: 700;
        font-size: 28px;
        color: var(--celtic);
        margin-bottom: 20px;
        margin-top: 20px;
        font-family: var(--base-font);
        text-align: right;
        text-shadow:0 0px 0;
    }
    #paymentMethodContainer{
        display: grid;
        grid-template-rows: auto auto ;
        grid-template-columns: auto auto ;
        justify-content: space-between;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    #paymentMethodIcon{
        color: var(--celtic);
        font-size: 35px;
        margin-bottom: 20px;
        margin-top: 20px;
        margin-right: 20px;
    }
    #paymentMethodLabelContent{
        display: grid;
        grid-template-columns: auto auto ;
        align-content: center;
    }
    #radioBtn{
        margin-top: 20px;
        margin-right: 20px;
        margin-left: 0px;
        margin-right: 0px;
        width: 40px;
        height: 40px;
        justify-self: flex-end;
        color: var(--celtic);
    }
    #promoCodeContainer{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto auto ;
        justify-content: space-between;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    #promoCodeInputContainer{
        width: 302.96px;
        height: 68px;
        border-radius: 5px;
        padding-bottom: 20px;
    }
    #promoInputField{
        background-color: var(--willow-brook);
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 26px;
        font-weight: 500;
        border-style: solid;
        border-color: var(--celtic);
        border-width: 1px;
        border-radius: 5px;
        text-shadow:0 0px 0;
    }
    #urbanPointsContainer{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto auto ;
        justify-content: space-between;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    #infoIconCartUP{
        color: var(--celtic);
        font-size: 24px;
        margin-left: 5px;
        align-self: center;
    }
    #cartCheckoutBtn{
        width: auto;
        height: 105px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        background-color: var(--cream-can);
        margin-top: 40px;
        margin-bottom: 40px;
    }
    #cartCheckoutBtnText{
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 36px;
        font-weight: 600;
        margin: 0px;
        text-shadow:0 0px 0;
    }
}

/* iPad Pro Landscape */
@media only screen and (min-width: 1024px) and (orientation: landscape) {
    #setLocationLargeBtn{
        width: 454px;
        height: 80px;
        margin-bottom: 30px;
        background-color: var(--cream-can);
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 5px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    #setLocationIcon{
        color: var(--celtic);
        font-size: 55px;
    }
    #cartRestaurantNameText{
        font-weight: 600;
        font-size: 28px;
        color: var(--celtic);
        margin-top: 0px;
        margin-bottom: 20px;
        font-family: var(--base-font);
        text-shadow:0 0px 0;
    }
    #smallYellowBtnText{
        font-weight: 500;
        font-size: 26px;
        margin: 0px;
        color: var(--celtic);
        font-family: var(--base-font);
        text-shadow:0 0px 0;
    }
    #smallYellowBtnIcon{
        color: var(--celtic);
        font-size: 26px;
    }
    #smallYellowBtn{
        width: 180px;
        height: 55px;
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: var(--cream-can);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    #labelTxtCart{
        font-weight: 500;
        font-size: 26px;
        color: var(--celtic);
        margin-bottom: 30px;
        margin-top: 30px;
        font-family: var(--base-font);
        text-shadow:0 0px 0;
    }
    #addressValueCart{
        font-weight: 400;
        font-size: 26px;
        color: var(--celtic);
        margin-top: 0px;
        margin-bottom: 60px;
        font-family: var(--base-font);
        text-shadow:0 0px 0;
    }
    #cartItemList{
        margin-top: 40px;
        margin-bottom: 40px;
        max-height: 404px;
        overflow-y: scroll;
    }
    #cardItemNameText{
        font-weight: 400;
        font-size: 36px;
        color: var(--celtic);
        margin: 0px;
        font-family: var(--base-font);
        align-self: flex-end;
        text-shadow:0 0px 0;
    }
    #cardItemPriceText{
        font-weight: 400;
        font-size: 28px;
        color: var(--celtic);
        margin: 0px;
        font-family: var(--base-font);
        align-self: flex-end;
        text-shadow:0 0px 0;
    }
    #cardItemButtonContainer{
        width: 240px;
        height: 50px;
        display: grid;
        grid-template-columns: 80px 80px 80px;
        grid-template-rows: 50px;
        column-gap: 10px;
    }
    #addIconCartItem{
        color: var(--celtic);
        font-size: 50px;
        justify-self: center;
    }
    #itemQtyCartContainer{
        width: 58.64px;
        height: 50px;
        background-color: var(--celtic);
        justify-self: center;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #itemQtyCartText{
        font-weight: 400;
        font-size: 35px;
        color: var(--orange-white);
        margin: 0px;
        font-family: var(--base-font);
        text-align: center;
        line-height: 30px;
        text-shadow:0 0px 0;
    }
    #cardTotalSection{
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto auto ;
        justify-content: space-between;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    #cardTotalSectionSmallTxtLeft{
        font-weight: 500;
        font-size: 26px;
        color: var(--celtic);
        margin-bottom: 20px;
        margin-top: 20px;
        font-family: var(--base-font);
        text-align: left;
        text-shadow:0 0px 0;
    }
    #cardTotalSectionSmallTxtRight{
        font-weight: 500;
        font-size: 26px;
        color: var(--celtic);
        margin-bottom: 20px;
        margin-top: 20px;
        font-family: var(--base-font);
        text-align: right;
        text-shadow:0 0px 0;
    }
    #cardTotalSectionLargeTxtLeft{
        font-weight: 700;
        font-size: 28px;
        color: var(--celtic);
        margin-bottom: 20px;
        margin-top: 20px;
        font-family: var(--base-font);
        text-align: left;
        text-shadow:0 0px 0;
    }
    #cardTotalSectionLargeTxtRight{
        font-weight: 700;
        font-size: 28px;
        color: var(--celtic);
        margin-bottom: 20px;
        margin-top: 20px;
        font-family: var(--base-font);
        text-align: right;
        text-shadow:0 0px 0;
    }
    #paymentMethodContainer{
        display: grid;
        grid-template-rows: auto auto ;
        grid-template-columns: auto auto ;
        justify-content: space-between;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    #paymentMethodIcon{
        color: var(--celtic);
        font-size: 35px;
        margin-bottom: 20px;
        margin-top: 20px;
        margin-right: 20px;
    }
    #paymentMethodLabelContent{
        display: grid;
        grid-template-columns: auto auto ;
        align-content: center;
    }
    #radioBtn{
        margin-top: 20px;
        margin-right: 20px;
        margin-left: 0px;
        margin-right: 0px;
        width: 40px;
        height: 40px;
        justify-self: flex-end;
        color: var(--celtic);
    }
    #promoCodeContainer{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto auto ;
        justify-content: space-between;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    #promoCodeInputContainer{
        width: 302.96px;
        height: 68px;
        border-radius: 5px;
        padding-bottom: 20px;
    }
    #promoInputField{
        background-color: var(--willow-brook);
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 26px;
        font-weight: 500;
        border-style: solid;
        border-color: var(--celtic);
        border-width: 1px;
        border-radius: 5px;
        text-shadow:0 0px 0;
    }
    #urbanPointsContainer{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto auto ;
        justify-content: space-between;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    #infoIconCartUP{
        color: var(--celtic);
        font-size: 24px;
        margin-left: 5px;
        align-self: center;
    }
    #cartCheckoutBtn{
        width: auto;
        height: 105px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        background-color: var(--cream-can);
        margin-top: 40px;
        margin-bottom: 40px;
    }
    #cartCheckoutBtnText{
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 36px;
        font-weight: 600;
        margin: 0px;
        text-shadow:0 0px 0;
    }
  
}
#popupCloseIcon{
    display: none;
}  