@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "../variables.css";
@media only screen and (max-width: 600px) and (orientation: portrait)  {
    #categoryImage{
        height: 111px;
        width: 115px;
        object-fit: cover;
    }
    #categoryCardLabel{
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 14px;
        font-weight: 500;
        justify-self: center;
        align-self: center;
        text-shadow:0 0px 0;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    #categoryCard{
        height: auto;
        width: 115px;
    }
    #categoryBody{        
        display: grid;
        grid-template-columns: auto auto auto;
        grid-column-gap: 24px;
        grid-row-gap: 10px;
        align-self: center;
    }
}

/* iPhone Landscape */
@media only screen and (max-width: 900px) and (orientation: landscape) {
    #categoryImage{
        height: 189px;
        width: 189px;
        object-fit: cover;
    }
    #categoryCardLabel{
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 18px;
        font-weight: 500;
        justify-self: center;
        align-self: center;
        text-shadow:0 0px 0;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    #categoryCard{
        height: auto;
        width: 189px;
    }
    #categoryBody{        
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-column-gap: 40px;
        grid-row-gap: 20px;
        align-self: center;
    }
}

/* Medium devices */
/* iPad Pro Portrait only */
@media only screen and (min-width: 768px) and (orientation: portrait) {
    #categoryImage{
        height: 203px;
        width: 203px;
        object-fit: cover;
        border-radius: 15px;
    }
    #categoryCardLabel{
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 24px;
        font-weight: 500;
        justify-self: center;
        align-self: center;
        text-shadow:0 0px 0;
        text-align: center;
        margin-top: 25px;
        margin-bottom: 0px;
    }
    #categoryCard{
        height: auto;
        width: 203px;
    }
    #categoryBody{        
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-column-gap: 57px;
        grid-row-gap: 30px;
        align-self: center;
    }
}

/* iPad Pro Landscape */
@media only screen and (min-width: 1024px) and (orientation: landscape) {
    #categoryImage{
        height: 174px;
        width: 280px;
        object-fit: cover;
        border-radius: 15px;
    }
    #categoryCardLabel{
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 24px;
        font-weight: 500;
        justify-self: center;
        align-self: center;
        text-shadow:0 0px 0;
        text-align: center;
        margin-top: 25px;
        margin-bottom: 0px;
    }
    #categoryCard{
        height: auto;
        width: 280px;
    }
    #categoryBody{        
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-column-gap: 68px;
        grid-row-gap: 30px;
        align-self: center;
    }
}

