.comment-image{
    width:82px;
    float: left;
    grid-column: 1/2;
    grid-row: 1/1;
    margin-top: 15px;
    margin-left: 20px;
}
.report-icon{
    float:left;
    grid-column: 1/2;
    grid-row: 1/1;
}
.comment-userName{
    float:left;
    font-family: var(--base-font);
    font-weight: 600;
    color:var(--celtic);
    font-size: 18px;
    grid-column: 2/3;
    grid-row: 1/1;
    margin-top: 15px;
    margin-left: 10px;
}
.likes-dislikes-container{
    display: inline;
    grid-column: 3/4;
    grid-row: 1/1;
    color:var(--celtic);
    margin-top:10px;
}
.likes, .dislikes{
    float: left;
    text-align: center;
}
.dislikes{
    margin-left: 10px;
}
.reply-button{
    font-size: 14px;
    font-family: var(--base-font);
    color:var(--celtic);
    font-weight: 600; 
    grid-column: 3/4; 
    grid-row: 1/1;
    margin-top: 80px;
    display: inline;
}
.dots-container{
    float:left;
    margin-left: 10px;
    margin-right: 13px;
}
.reply-card{
    margin-top: 5px;
}
.dot{
    width: 12px;
    height:12px;
    background-color: var(--willow-brook);
    border-radius: 50%;
    margin-top: 21px;
}

#repliesInput{
    display: none;
    border:unset;
    margin: 10px 0;
    padding: 5px;
    width: 100%;
}

#commentsInput, #repliesInput{
    background-color: var(--willow-brook);
}
 #reportCommentPopup{
        width:376px;
        background-color: var(--orange-white);
        height: 259px;
        text-align: center;
    }
    .reportCloseButton{
        position:absolute;
        right:0;
        margin-right: 10px;
        margin-top: 10px;
        color:var(--celtic);
    }
    .reportHeading{
        padding-top: 20px;
        color: var(--celtic);
        font-family: var(--base-font);
        font-weight: 600;
    }

    #reportMessage{
        width: 320px;
        height: 120px;
        border-radius: 10px;
        margin:40px auto;
        background-color: var(--willow-brook);
        
    }
    #submitReport{
        background-color: var(--cream-can);
        width: 90px;
        height: 30px;
        margin:0 auto;
        font-family: var(--base-font);
        padding: 6px;
        margin-top: 25px;
    }
/* iPhone Portrait */
@media only screen and (max-width: 600px) and (orientation: portrait)  {
    .comment-card{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 112px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        width: 100%;
    }
    .reply-card{
        width: 359px;
    }
    .comment-body{
        font-family: var(--base-font);
        font-size: 14px;
        color:var(--celtic);
        grid-column: 2/3;
        grid-row: 1/1;
        margin-top: 47px;
        margin-left: 10px;
        text-shadow:0 0px 0;
    }
    .comment-userName{
        float:left;
        font-family: var(--base-font);
        font-weight: 600;
        color:var(--celtic);
        font-size: 18px;
        grid-column: 2/3;
        grid-row: 1/1;
        margin-top: 15px;
        margin-left: 10px;
        text-shadow:0 0px 0;
    }
}

/* iPhone Landscape */
@media only screen and (max-width: 900px) and (orientation: landscape) {
    .comment-card{
        display: grid;
        grid-template-columns: 103px 2fr 1fr;
        grid-template-rows: 112px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        width: 100%;
    }
    .reply-card{
        max-width: 840px;
    }
    .likes-dislikes-container, .reply-button{
        position:absolute;
        right: 20px;
    }
    .comment-body{
        font-family: var(--base-font);
        font-size: 14px;
        color:var(--celtic);
        grid-column: 2/3;
        grid-row: 1/1;
        margin-top: 47px;
        margin-left: 10px;
        text-shadow:0 0px 0;
    }
    .comment-userName{
        float:left;
        font-family: var(--base-font);
        font-weight: 600;
        color:var(--celtic);
        font-size: 18px;
        grid-column: 2/3;
        grid-row: 1/1;
        margin-top: 15px;
        margin-left: 10px;
        text-shadow:0 0px 0;
    }
}

/* Medium devices */
/* iPad Pro Portrait only */
@media only screen and (min-width: 768px) and (orientation: portrait) {
    .comment-card{
        display: grid;
        grid-template-columns: 103px 2fr 1fr;
        grid-template-rows: 112px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        width: 100%;
    }
    .reply-card{
        max-width: 968px;
    }
    .likes-dislikes-container, .reply-button{
        position:absolute;
        right: 20px;
    }
    .comment-body{
        font-family: var(--base-font);
        font-size: 22px;
        color:var(--celtic);
        grid-column: 2/3;
        grid-row: 1/1;
        margin-top: 47px;
        margin-left: 10px;
        text-shadow:0 0px 0;
    }
    .comment-userName{
        float:left;
        font-family: var(--base-font);
        font-weight: 600;
        color:var(--celtic);
        font-size: 24px;
        grid-column: 2/3;
        grid-row: 1/1;
        margin-top: 15px;
        margin-left: 10px;
        text-shadow:0 0px 0;
    }
}

/* iPad Pro Landscape */
@media only screen and (min-width: 1024px) and (orientation: landscape) {
    .comment-card{
        display: grid;
        grid-template-columns: 103px 2fr 1fr;
        grid-template-rows: 112px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        width: 100%;
    }
    .reply-card{
        max-width: 1310px;
    }
    .likes-dislikes-container, .reply-button{
        position:absolute;
        right: 20px;
    }
    .comment-body{
        font-family: var(--base-font);
        font-size: 22px;
        color:var(--celtic);
        grid-column: 2/3;
        grid-row: 1/1;
        margin-top: 47px;
        margin-left: 10px;
        text-shadow:0 0px 0;
    }
    .comment-userName{
        float:left;
        font-family: var(--base-font);
        font-weight: 600;
        color:var(--celtic);
        font-size: 24px;
        grid-column: 2/3;
        grid-row: 1/1;
        margin-top: 15px;
        margin-left: 10px;
        text-shadow:0 0px 0;
    }
}