@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "../variables.css";

/* iPhone potrait only */
@media only screen and (max-width: 600px) and (orientation: portrait){
    
    #urbanPointsDetailsText{
        font-size: 14px;
        color: var(--celtic);
        font-family: var(--base-font);
        margin-top: 30px;
        margin-left: 10px;
        margin-bottom: 30px;
        text-shadow: 0 0px 0;

    }
    #claimBtn{
        width: 90px;
        height: 30px;
        border-radius: 5px;
        background-color: var(--cream-can);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        position: relative;
        left: 300px;
        bottom: 30px;
    }
    
    #claimBtnText{
        font-family: var(--base-font);
        font-size: 16px;
        font-weight: 600;
        color: var(--celtic);
        margin-left: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 30px;
        text-shadow:0 0px 0;
    }

    #claimedBtn{
        width: 90px;
        height: 30px;
        border-radius: 5px;
        background-color: var(--tundora);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        position: relative;
        left: 300px;
        bottom: 30px;
    }
    
    #claimedBtnText{
        font-family: var(--base-font);
        font-size: 14px;
        font-weight: 600;
        color: var(--orange-white);
        margin-left: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 30px;
        text-shadow:0 0px 0;
    }
    #dealsPageItemGrid{
        display: grid;
        grid-template-columns: auto;
    }
    #dealsPageItemCardNotActivated{
        display: grid;
        grid-template-columns: auto;
        background-color: var(--orange-white);
        margin-bottom: 15px;
        border-radius: 5px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));;
        position: relative;
        height: 230px;
    }
    #dealsPageItemCardActivated{
        display: grid;
        grid-template-columns: auto;
        background-color: var(--orange-white);
        margin-bottom: 30px;
        border-radius: 5px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));;
        position: relative;
        height: 230px;
    }
    #dealsPageItemCardImage{
        width: auto;
        height: 162px;
        object-fit: cover;
    }
    #dealsPageItemCardImageActivated{
        width: auto;
        height: 162px;
        object-fit: cover;
        filter: brightness(50%);
    }
    #darkenImage{
        position: relative;
        text-align: center;
        color: var(--orange-white);
    }
    #imageCenterText{
        position: absolute;
        font-family: var(--base-font);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 36px;
        font-weight: 400;
    }
    #dealsPageItemCardMainText{
        font-family: var(--base-font);
        font-size: 14px;
        font-weight: 500;
        color: var(--celtic);
        margin: 0px;
        padding-left: 5px;
        padding-top: 3px;
        text-shadow:0 0px 0;
    }
   #dealsPageItemCardSubText{
        font-family: var(--base-font);
        font-size: 14px;
        font-weight: 300;
        color: var(--celtic);
        margin: 0px;
        padding-left: 5px;
        text-shadow:0 0px 0;
        width: 250px;
    }
   #discountLabelDealsPage{
        background-color: #F0A04B;
        width: 187px;
        height: 30px;
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 5px;
        border-width: 2px;
        border-color: var(--celtic);
        border-style: solid;
        display: flex;
        align-items: center;
        justify-content: center;
      }
     #discountLabelDealsPageText{
        font-family: var(--base-font);
        font-size: 12px;
        font-weight: 600;
        color: var(--celtic);
        margin: 0px;
        text-shadow:0 0px 0;
      }
      #urbanPointsContainer{
          width: auto;
          height: auto;
          display: flex;
          justify-content: center;

      }
      #urbanPointsCard{
          width: 217px;
          height: 97px;
          background-color: var(--willow-brook);
          border-width: 5px;
          border-color: var(--celtic);
          border-style: solid;
          border-radius: 30px;
          display: grid;
          grid-template-rows: auto auto;
      }
      #urbanPointsTotalText{
          text-align: center;
          font-family: var(--base-font);
          font-weight: 600;
          font-size: 18px;
          margin: 0;
          margin-top: 15px;
          color: var(--celtic);

      }
      #UrbanPointsAmount{
        text-align: center;
        font-family: var(--base-font);
        font-weight: 600;
        font-size: 24px;
        margin: 0;
        margin-top: 15px;
        color: var(--celtic);
      }

}

/* iPhone landscape only */
@media only screen and (max-width: 900px) and (orientation: landscape) {

    #urbanPointsDetailsText{
        font-size: 14px;
        color: var(--celtic);
        font-family: var(--base-font);
        margin-top: 30px;
        margin-left: 10px;
        margin-bottom: 30px;
        text-align: center;
        text-shadow: 0 0px 0;
    }
    #claimBtn{
        width: 90px;
        height: 30px;
        border-radius: 5px;
        background-color: var(--cream-can);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        position: relative;
        left: 780px;
        bottom: 30px;
    }
    
    #claimBtnText{
        font-family: var(--base-font);
        font-size: 16px;
        font-weight: 600;
        color: var(--celtic);
        margin-left: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 30px;
        text-shadow:0 0px 0;
    }
    #claimedBtn{
        width: 90px;
        height: 30px;
        border-radius: 5px;
        background-color: var(--tundora);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        position: relative;
        left: 780px;
        bottom: 30px;
    }
    
    #claimedBtnText{
        font-family: var(--base-font);
        font-size: 16px;
        font-weight: 600;
        color: var(--orange-white);
        margin-left: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 30px;
        text-shadow:0 0px 0;
    }
    #dealsPageItemGrid{
        display: grid;
        grid-template-columns: auto;
        
    }
   #dealsPageItemCardNotActivated{
        display: grid;
        grid-template-columns: auto;
        background-color: var(--orange-white);
        margin-bottom: 15px;
        border-radius: 5px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));;
        position: relative;
        height: 285px;
    }
    #dealsPageItemCardActivated{
        display: grid;
        grid-template-columns: auto;
        background-color: var(--orange-white);
        margin-bottom: 30px;
        border-radius: 5px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));;
        position: relative;
        height: 285px;
    }
    #darkenImage{
        position: relative;
        text-align: center;
        color: var(--orange-white);
    }
    #imageCenterText{
        position: absolute;
        font-family: var(--base-font);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 36px;
        font-weight: 500;
    }
   #dealsPageItemCardImage{
        width: 875px;
        height: 217px;
        object-fit: cover;
    }
    #dealsPageItemCardImageActivated{
        width: 875px;
        height: 217px;
        object-fit: cover;
        filter: brightness(50%);
    }
   #dealsPageItemCardMainText{
        font-family: var(--base-font);
        font-size: 14px;
        font-weight: 500;
        color: var(--celtic);
        margin: 0px;
        padding-left: 5px;
        padding-top: 3px;
        text-shadow:0 0px 0;
    }
   #dealsPageItemCardSubText{
        font-family: var(--base-font);
        font-size: 14px;
        font-weight: 300;
        color: var(--celtic);
        margin: 0px;
        padding-left: 5px;
        text-shadow:0 0px 0;
    }
   #discountLabelDealsPage{
        background-color: #F0A04B;
        width: 187px;
        height: 30px;
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 5px;
        border-width: 2px;
        border-color: var(--celtic);
        border-style: solid;
        display: flex;
        align-items: center;
        justify-content: center;
      }
     #discountLabelDealsPageText{
        font-family: var(--base-font);
        font-size: 12px;
        font-weight: 600;
        color: var(--celtic);
        margin: 0px;
        text-shadow:0 0px 0;
      }
      #urbanPointsContainer{
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;

    }
    #urbanPointsCard{
        width: 217px;
        height: 97px;
        background-color: var(--willow-brook);
        border-width: 5px;
        border-color: var(--celtic);
        border-style: solid;
        border-radius: 30px;
        display: grid;
        grid-template-rows: auto auto;
    }
    #urbanPointsTotalText{
        text-align: center;
        font-family: var(--base-font);
        font-weight: 600;
        font-size: 18px;
        margin: 0;
        margin-top: 15px;
        color: var(--celtic);
    }
    #UrbanPointsAmount{
        text-align: center;
        font-family: var(--base-font);
        font-weight: 600;
        font-size: 24px;
        margin: 0;
        margin-top: 15px;
        color: var(--celtic);
    }
}

/* Medium devices */
/* iPad Pro Portrait only */
@media only screen and (min-width: 768px) and (orientation: portrait) {

    #urbanPointsDetailsText{
        font-size: 28px;
        color: var(--celtic);
        font-family: var(--base-font);
        margin-top: 30px;
        margin-left: 10px;
        margin-bottom: 30px;
        text-shadow: 0 0px 0;
    }

    #claimBtn{
        width: 150px;
        height: 50px;
        border-radius: 5px;
        background-color: var(--cream-can);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        position: relative;
        left: 820px;
        bottom: 50px;
    }
    #claimBtnText{
        font-family: var(--base-font);
        font-size: 28px;
        font-weight: 600;
        color: var(--celtic);
        margin-left: 30px;
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 50px;
        text-shadow:0 0px 0;
        
    }
    #claimedBtn{
        width: 150px;
        height: 50px;
        border-radius: 5px;
        background-color: var(--tundora);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        position: relative;
        left: 820px;
        bottom: 50px;
    }
    #claimedBtnText{
        font-family: var(--base-font);
        font-size: 28px;
        font-weight: 600;
        color: var(--orange-white);
        margin-left: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 50px;
        text-shadow:0 0px 0;
    }
    #dealsPageItemGrid{
        display: grid;
        grid-template-columns: auto;
    }
   #dealsPageItemCardNotActivated{
        display: grid;
        grid-template-columns: auto;
        background-color: var(--orange-white);
        margin-bottom: 20px;
        border-radius: 5px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));;
        position: relative;
        height: 390px;
    }
    #dealsPageItemCardActivated{
        display: grid;
        grid-template-columns: auto;
        background-color: var(--orange-white);
        margin-bottom: 50px;
        border-radius: 5px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));;
        position: relative;
        height: 390px;
    }
   #dealsPageItemCardImage{
        width: 975px;
        height: 289px;
        object-fit: cover;
    }
    #dealsPageItemCardImageActivated{
        width: 975px;
        height: 289px;
        object-fit: cover;
        filter: brightness(50%);
    }
    #darkenImage{
        position: relative;
        text-align: center;
        color: var(--orange-white);
    }
    #imageCenterText{
        position: absolute;
        font-family: var(--base-font);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 64px;
        font-weight: 500;
    }
   #dealsPageItemCardMainText{
        font-family: var(--base-font);
        font-size: 22px;
        font-weight: 500;
        color: var(--celtic);
        margin: 0px;
        padding-left: 5px;
        padding-top: 3px;
        text-shadow:0 0px 0;
    }
   #dealsPageItemCardSubText{
        font-family: var(--base-font);
        font-size: 22px;
        font-weight: 300;
        color: var(--celtic);
        margin: 0px;
        padding-left: 5px;
        text-shadow:0 0px 0;
    }
   #discountLabelDealsPage{
        background-color: #F0A04B;
        width: 463px;
        height: 53px;
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 5px;
        border-width: 2px;
        border-color: var(--celtic);
        border-style: solid;
        display: flex;
        align-items: center;
        justify-content: center;
      }
     #discountLabelDealsPageText{
        font-family: var(--base-font);
        font-size: 28px;
        font-weight: 400;
        color: var(--celtic);
        margin: 0px;
        text-shadow:0 0px 0;
      }
      #urbanPointsContainer{
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;

    }
    #urbanPointsCard{
        width: 414px;
        height: 185px;
        background-color: var(--willow-brook);
        border-width: 10px;
        border-color: var(--celtic);
        border-style: solid;
        border-radius: 55px;
        display: grid;
        grid-template-rows: auto auto;
    }
    #urbanPointsTotalText{
        text-align: center;
        font-family: var(--base-font);
        font-weight: 600;
        font-size: 34px;
        margin: 0;
        margin-top: 15px;
        color: var(--celtic);
    }
    #UrbanPointsAmount{
        text-align: center;
        font-family: var(--base-font);
        color: var(--celtic);
        font-weight: 700;
        font-size: 45px;
        margin: 0;
        margin-top: 15px;
    }

}

/* iPad Pro Landscape */
@media only screen and (min-width: 1024px) and (orientation: landscape) {

    #urbanPointsDetailsText{
        font-size: 28px;
        color: var(--celtic);
        font-family: var(--base-font);
        margin-top: 30px;
        margin-left: 10px;
        margin-bottom: 30px;
        text-shadow: 0 0px 0;
    }

    #claimBtn{
        width: 150px;
        height: 50px;
        border-radius: 5px;
        background-color: var(--cream-can);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        position: relative;
        left: 1150px;
        bottom: 50px;
    }
    #claimBtnText{
        font-family: var(--base-font);
        font-size: 26px;
        font-weight: 600;
        color: var(--celtic);
        margin-left: 30px;
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 50px;
        text-shadow:0 0px 0;
    }
    #claimedBtn{
        width: 150px;
        height: 50px;
        border-radius: 5px;
        background-color: var(--tundora);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        position: relative;
        left: 1150px;
        bottom: 50px;
    }
    #claimedBtnText{
        font-family: var(--base-font);
        font-size: 26px;
        font-weight: 600;
        color: var(--orange-white);
        margin-left: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 50px;
        text-shadow:0 0px 0;
    }
    #dealsPageItemGrid{
        display: grid;
        grid-template-columns: auto;
    }
   #dealsPageItemCardNotActivated{
        display: grid;
        grid-template-columns: auto;
        background-color: var(--orange-white);
        margin-bottom: 20px;
        border-radius: 5px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));;
        position: relative;
        height: 500px;
    }
    #dealsPageItemCardActivated{
        display: grid;
        grid-template-columns: auto;
        background-color: var(--orange-white);
        margin-bottom: 50px;
        border-radius: 5px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));;
        position: relative;
        height: 500px;
    }
   #dealsPageItemCardImage{
        width: 1322px;
        height: 392px;
        object-fit: cover;
    }
    #dealsPageItemCardImageActivated{
        width: 1322px;
        height: 392px;
        object-fit: cover;
        filter: brightness(50%);
    }
    #darkenImage{
        position: relative;
        text-align: center;
        color: var(--orange-white);
    }
    #imageCenterText{
        position: absolute;
        font-family: var(--base-font);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 74px;
        font-weight: 500;
    }
   #dealsPageItemCardMainText{
        font-family: var(--base-font);
        font-size: 24px;
        font-weight: 500;
        color: var(--celtic);
        margin: 0px;
        padding-left: 5px;
        padding-top: 3px;
        text-shadow:0 0px 0;
    }
   #dealsPageItemCardSubText{
        font-family: var(--base-font);
        font-size: 24px;
        font-weight: 300;
        color: var(--celtic);
        margin: 0px;
        padding-left: 5px;
        text-shadow:0 0px 0;
    }
   #discountLabelDealsPage{
        background-color: #F0A04B;
        width: 463px;
        height: 53px;
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 5px;
        border-width: 2px;
        border-color: var(--celtic);
        border-style: solid;
        display: flex;
        align-items: center;
        justify-content: center;
      }
     #discountLabelDealsPageText{
        font-family: var(--base-font);
        font-size: 24px;
        font-weight: 400;
        color: var(--celtic);
        margin: 0px;
        text-shadow:0 0px 0;
      }
      #urbanPointsContainer{
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;

    }
    #urbanPointsCard{
        width: 507px;
        height: 227px;
        background-color: var(--willow-brook);
        border-width: 11px;
        border-color: var(--celtic);
        border-style: solid;
        border-radius: 70px;
        display: grid;
        grid-template-rows: auto auto;
    }
    #urbanPointsTotalText{
        text-align: center;
        font-family: var(--base-font);
        font-weight: 600;
        font-size: 42px;
        margin: 0;
        margin-top: 15px;
        color: var(--celtic);
    }
    #UrbanPointsAmount{
        text-align: center;
        font-family: var(--base-font);
        font-weight: 700;
        font-size: 56px;
        margin: 0;
        margin-top: 15px;
        color: var(--celtic);
    }
}