@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "../variables.css";
/* Extra small devices (phones, 600px and down) */
/* iPhone potrait only */
@media only screen and (max-width: 600px) and (orientation: portrait)  {
   #tabBarButtonsContainer{
        display: grid;
        justify-content: space-between;
        grid-template-columns: auto auto;
    }
   #tabBarButtons{
        display: inline-block;
        overflow: visible;
        width: 184px;
        margin-bottom: 20px;
        
    }
   #tabBarButtonsContent{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        background-color: var(--cream-can);
        height: 41px;
        column-gap: 26px;
    }
   #tabBarIcon{
        font-size: 35px;
        color: var(--celtic);
        display: inline-block;
        margin: 0px;
        align-self: center;
    }
   #tabBarButtonText{
        font-family: var(--base-font);
        font-size: 18px;
        font-weight: 600;
        color: var(--celtic);
        display: inline-block;
        margin: 0px;
        align-self: center;
        text-shadow:0 0px 0;
    }
   #yellowLineTabBar{
        width: auto;
        height: 2px;
        background-color: #F6C453;
    }
   #blankspaceButtonAndCard{
        height: 20px;
        width: auto;
    }
    #emailInputField{
        background-color: var(--willow-brook);
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 16px;
        font-weight: 500;
        border-style: solid;
        border-color: var(--celtic);
        border-width: 1px;
        border-radius: 5px;
        text-shadow:0 0px 0;
    }
}

/* iPhone Landscape */
@media only screen and (max-width: 900px) and (orientation: landscape) {
   #tabBarButtonsContainer{
        display: grid;
        justify-content: space-between;
        grid-template-columns: auto auto;
    }
   #tabBarButtons{
        display: inline-block;
        overflow: visible;
        width: 400px;
        margin-bottom: 20px;
        
    }
   #tabBarButtonsContent{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        background-color: var(--cream-can);
        height: 41px;
        column-gap: 26px;
    }
   #tabBarIcon{
        font-size: 35px;
        color: var(--celtic);
        display: inline-block;
        margin: 0px;
        align-self: center;
    }
   #tabBarButtonText{
        font-family: var(--base-font);
        font-size: 18px;
        font-weight: 600;
        color: var(--celtic);
        display: inline-block;
        margin: 0px;
        align-self: center;
        text-shadow:0 0px 0;
    }
   #yellowLineTabBar{
        width: auto;
        height: 2px;
        background-color: #F6C453;
    }
   #blankspaceButtonAndCard{
        height: 20px;
        width: auto;
    }
    #emailInputField{
        background-color: var(--willow-brook);
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 16px;
        font-weight: 500;
        border-style: solid;
        border-color: var(--celtic);
        border-width: 1px;
        border-radius: 5px;
        text-shadow:0 0px 0;
    }

}

/* Medium devices */
/* iPad Pro Portrait only */
@media only screen and (min-width: 768px) and (orientation: portrait) {
   #tabBarButtonsContainer{
        display: grid;
        justify-content: space-between;
        grid-template-columns: auto auto;
    }
   #tabBarButtons{
        display: inline-block;
        overflow: visible;
        width: 470px;
        margin-bottom: 40px;
    }
   #tabBarButtonsContent{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        background-color: var(--cream-can);
        height: 87.51px;
        column-gap: 100px;
    }
   #tabBarIcon{
        font-size: 70px;
        color: var(--celtic);
        display: inline-block;
        margin: 0px;
        align-self: center;
    }
   #tabBarButtonText{
        font-family: var(--base-font);
        font-size: 34px;
        font-weight: 600;
        color: var(--celtic);
        display: inline-block;
        margin: 0px;
        align-self: center;
        text-shadow:0 0px 0;
    }
   #yellowLineTabBar{
        width: auto;
        height: 4px;
        background-color: #F6C453;
    }
   #blankspaceButtonAndCard{
        height: 40px;
        width: auto;
    }
    #emailInputField{
        background-color: var(--willow-brook);
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 22px;
        font-weight: 500;
        border-style: solid;
        border-color:var(--celtic);
        border-width: 1px;
        border-radius: 5px;
        text-shadow:0 0px 0;
    }
}

/* iPad Pro Landscape */
@media only screen and (min-width: 1024px) and (orientation: landscape) {

   #tabBarButtonsContainer{
        display: grid;
        justify-content: space-between;
        grid-template-columns: auto auto;
    }
   #tabBarButtons{
        display: inline-block;
        overflow: visible;
        width: 601px;
        margin-bottom: 40px;
    }
   #tabBarButtonsContent{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        background-color: var(--cream-can);
        height: 87.51px;
        column-gap: 100px;
    }
   #tabBarIcon{
        font-size: 70px;
        color: var(--celtic);
        display: inline-block;
        margin: 0px;
        align-self: center;
    }
   #tabBarButtonText{
        font-family: var(--base-font);
        font-size: 34px;
        font-weight: 600;
        color: var(--celtic);
        display: inline-block;
        margin: 0px;
        align-self: center;
        text-shadow:0 0px 0;
    }
   #yellowLineTabBar{
        width: auto;
        height: 4px;
        background-color: #F6C453;
    }
   #blankspaceButtonAndCard{
        height: 40px;
        width: auto;
    }
    #emailInputField{
        background-color: var(--willow-brook);
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 22px;
        font-weight: 500;
        border-style: solid;
        border-color:var(--celtic);
        border-width: 1px;
        border-radius: 5px;
        text-shadow:0 0px 0;
    }
}

    