@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "../variables.css";

/* iPhone potrait only */
@media only screen and (max-width: 600px) and (orientation: portrait){
    .feedbackdescription{
        font-family: var(--base-font);
        font-size: 18px;
        color: var(--celtic);
    }
    #feedbackpage{
        background-color: var(--orange-white);
    }
    
    #feedbackContainer{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto;
        margin-bottom: 10px;
        justify-content: start ;
        margin-top: 10px;
    }
    #feedbackRadioButtonContent{
        display: grid;
        grid-template-columns: auto auto;
        align-content: center;
    }
    
    #feedbackRadioButtonText{
        font-weight: 500;
        font-size: 16px;
        color: var(--celtic);
        margin-bottom: 15px;
        margin-top: 10px;
        font-family: var(--base-font);
        margin-left: 10px;
    }
    #radioBtn{
        margin-top: 10px;
        margin-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
        width: 20px;
        height: 20px;
        color: var(--celtic);
    }

    #feedbackComment{
        background-color: var(--willow-brook);
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 16px;
        font-weight: 500;
        border-style: solid;
        border-color: var(--celtic);
        border-width: 1px;
        border-radius: 5px;
        min-height: 120px;

    }

    textarea::placeholder{
        color: var(--tundora);
    }

    #submitBtn{
        width: 90px;
        height: 30px;
        border-radius: 5px;
        background-color: var(--cream-can);
        margin: auto;
        justify-self: center;
        align-self: center;
        position: relative;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    #SubmitBtnText{
        font-family: var(--base-font);
        font-size: 14px;
        font-weight: 600;
        color: var(--celtic);
        margin-left: 18px;
        margin-top: 20px;
        box-sizing: border-box;
        line-height: 30px;
        margin-bottom: 10px;
        text-shadow: 0 0px 0;
    }

}

/* iPhone landscape only */
@media only screen and (max-width: 900px) and (orientation: landscape) {

    .feedbackdescription{
        font-family: var(--base-font);
        font-size: 18px;
        color: var(--celtic);
    }
    
    #feedbackContainer{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto;
        margin-bottom: 10px;
        justify-content: start ;
        margin-top: 10px;
    }
    #feedbackRadioButtonContent{
        display: grid;
        grid-template-columns: auto auto;
        align-content: center;
    }
    
    #feedbackRadioButtonText{
        font-weight: 500;
        font-size: 16px;
        color: var(--celtic);
        margin-bottom: 15px;
        margin-top: 10px;
        font-family: var(--base-font);
        margin-left: 10px;
    }
    #radioBtn{
        margin-top: 10px;
        margin-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
        width: 20px;
        height: 20px;
        color: var(--celtic);
    }

    #feedbackComment{
        background-color: var(--willow-brook);
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 16px;
        font-weight: 500;
        border-style: solid;
        border-color: var(--celtic);
        border-width: 1px;
        border-radius: 5px;
        min-height: 120px;

    }

    textarea::placeholder{
        color: var(--tundora);
        font-size: 16px;
    }

    #submitBtn{
        width: 400px;
        height: 50px;
        border-radius: 5px;
        background-color: var(--cream-can);
        margin: auto;
        justify-self: center;
        align-self: center;
        position: relative;
        margin-bottom: 20px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    #SubmitBtnText{
        font-family: var(--base-font);
        font-size: 18px;
        font-weight: 600;
        color: var(--celtic);
        margin-left: 170px;
        margin-top: 20px;
        box-sizing: border-box;
        line-height: 50px;
        margin-bottom: 20px;
        text-shadow: 0 0px 0;
    }

    
}

/* iPad potrait only */
@media only screen and (min-width: 768px) and (orientation: portrait) {

    .feedbackdescription{
        font-family: var(--base-font);
        font-size: 28px;
        color: var(--celtic);
    }
    #homeBodypage{
        background-color: var(--orange-white);
    }
    
    #feedbackContainer{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto;
        margin-bottom: 10px;
        justify-content: start ;
        margin-top: 10px;
    }
    #feedbackRadioButtonContent{
        display: grid;
        grid-template-columns: auto auto;
        align-content: center;
    }
    
    #feedbackRadioButtonText{
        font-weight: 500;
        font-size: 28px;
        color: var(--celtic);
        margin-bottom: 15px;
        margin-top: 10px;
        font-family: var(--base-font);
        margin-left: 10px;
    }
    #radioBtn{
        margin-top: 10px;
        margin-right: 0px;
        margin-left: 0px;
        margin-right: 30px;
        width: 40px;
        height: 40px;
        color: var(--celtic);
    }

    #feedbackComment{
        background-color: var(--willow-brook);
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 28px;
        font-weight: 500;
        border-style: solid;
        border-color: var(--celtic);
        border-width: 1px;
        border-radius: 5px;
        min-height: 240px;

    }

    textarea::placeholder{
        color: var(--tundora);
        font-size: 26px;
    }

    #submitBtn{
        width: 700px;
        height: 100px;
        border-radius: 5px;
        background-color: var(--cream-can);
        margin: auto;
        justify-self: center;
        align-self: center;
        margin-top: 60px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    #SubmitBtnText{
        font-family: var(--base-font);
        font-size: 34px;
        font-weight: 600;
        color: var(--celtic);
        margin-left: 300px;
        margin-top: 20px;
        box-sizing: border-box;
        line-height: 100px;
        margin-bottom: 10px;
        text-shadow: 0 0px 0;
    }
    
    
}

/* iPad landscape only */
@media only screen and (min-width: 1024px) and (orientation: landscape) {

    .feedbackdescription{
        font-family: var(--base-font);
        font-size: 28px;
        color: var(--celtic);
    }
    
    #feedbackContainer{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto;
        margin-bottom: 10px;
        justify-content: start ;
        margin-top: 10px;
    }
    #feedbackRadioButtonContent{
        display: grid;
        grid-template-columns: auto auto;
        align-content: center;
    }
    
    #feedbackRadioButtonText{
        font-weight: 500;
        font-size: 28px;
        color: var(--celtic);
        margin-bottom: 15px;
        margin-top: 10px;
        font-family: var(--base-font);
        margin-left: 10px;
    }
    #radioBtn{
        margin-top: 10px;
        margin-right: 0px;
        margin-left: 0px;
        margin-right: 30px;
        width: 40px;
        height: 40px;
        color: var(--celtic);
    }

    #feedbackComment{
        background-color: var(--willow-brook);
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 28px;
        font-weight: 500;
        border-style: solid;
        border-color: var(--celtic);
        border-width: 1px;
        border-radius: 5px;
        min-height: 240px;

    }

    textarea::placeholder{
        color: var(--tundora);
        font-size: 26px;
    }

    #submitBtn{
        width: 700px;
        height: 100px;
        border-radius: 5px;
        background-color: var(--cream-can);
        margin: auto;
        justify-self: center;
        align-self: center;
        margin-top: 60px;
        margin-bottom: 60px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    #SubmitBtnText{
        font-family: var(--base-font);
        font-size: 34px;
        font-weight: 600;
        color: var(--celtic);
        margin-left: 300px;
        margin-top: 20px;
        box-sizing: border-box;
        line-height: 100px;
        margin-bottom: 10px;
        text-shadow: 0 0px 0;
    }
    
    
}