@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "../variables.css";
/* Extra small devices (phones, 600px and down) */
/* iPhone potrait only */
@media only screen and (max-width: 600px) and (orientation: portrait)  {
   #menuHorizontalScroll{
        overflow: auto;
        white-space: nowrap;
        -ms-overflow-style: none; 
        scrollbar-width: none;
        padding-bottom: 20px;
    }
   #menuHorizontalScroll::-webkit-scrollbar{
        display: none;
    }
   #horzontalScrollThumbnail{
        height: 73px;
        width: 73px;
    }
   #horizontalScrollCard{
        display: grid;
        grid-template-columns: auto;
        display:inline-block;
        margin-right: 15px;
    }
   #horizontalScrollText{
        font-family: var(--base-font);
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 5px;
        color: var(--celtic);
        text-align: center;
        text-shadow:0 0px 0;
    }
   #screenHeading{
        font-family: var(--base-font);
        font-size: 24px;
        font-weight: 700;
        color: var(--celtic);
        margin:0px;
        padding-top: 30px;
        padding-bottom: 30px;
        text-shadow:0 0px 0;
    }
   #yellowLine{
        width: auto;
        height: 2px;
        background-color: var(--cream-can);
    }
   #screenSubHeading{
        font-family: var(--base-font);
        font-size: 18px;
        font-weight: 600;
        color: var(--celtic);
        margin: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
        text-shadow:0 0px 0;
    }
   #homePageItemGrid{
        display: grid;
        grid-template-columns: auto;
    }
   #homePageItemCard{
        display: grid;
        grid-template-columns: auto;
        background-color: var(--orange-white);
        margin-bottom: 15px;
        border-radius: 5px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));;
        position: relative;
    }
   #homePageItemCardImage{
        width: auto;
        height: 162px;
    }
   #homePageItemCardMainText{
        font-family: var(--base-font);
        font-size: 14px;
        font-weight: 500;
        color: var(--celtic);
        margin: 0px;
        padding-left: 5px;
        padding-top: 3px;
        text-shadow:0 0px 0;
    }
   #homePageItemCardSubText{
        font-family: var(--base-font);
        font-size: 14px;
        font-weight: 300;
        color: var(--celtic);
        margin: 0px;
        padding-left: 5px;
        text-shadow:0 0px 0;
    }
   #discountLabelHomePage{
        background-color: #F0A04B;
        width: 187px;
        height: 30px;
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 5px;
        border-width: 2px;
        border-color: var(--celtic);
        border-style: solid;
        display: flex;
        align-items: center;
        justify-content: center;
      }
     #discountLabelText{
        font-family: var(--base-font);
        font-size: 12px;
        font-weight: 600;
        color: var(--celtic);
        margin: 0px;
        text-shadow:0 0px 0;
      }
      
}

/* iPhone Landscape */
@media only screen and (max-width: 900px) and (orientation: landscape) {
     #menuHorizontalScroll{
        overflow: auto;
        white-space: nowrap;
        -ms-overflow-style: none; 
        scrollbar-width: none;
    }
   #menuHorizontalScroll::-webkit-scrollbar{
        display: none;
    }
   #horzontalScrollThumbnail{
        height: 73px;
        width: 73px;
    }
   #horizontalScrollCard{
        display: grid;
        grid-template-columns: auto;
        display:inline-block;
        margin-right: 15px;
    }
   #horizontalScrollText{
        font-family: var(--base-font);
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 5px;
        color: var(--celtic);
        text-align: center;
        text-shadow:0 0px 0;
    }
   #screenHeading{
        font-family: var(--base-font);
        font-size: 24px;
        font-weight: 700;
        color: var(--celtic);
        margin:0px;
        padding-top: 30px;
        padding-bottom: 30px;
        text-shadow:0 0px 0;
    }
   #yellowLine{
        width: auto;
        height: 2px;
        background-color: #F6C453;
        margin-top: 20px;
    }
   #screenSubHeading{
        font-family: var(--base-font);
        font-size: 18px;
        font-weight: 600;
        color: var(--celtic);
        margin: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
        text-shadow:0 0px 0;
    }
   #homePageItemGrid{
        display: grid;
        grid-template-columns: 430px 430px;
        justify-content: space-between;
    }
   #homePageItemCard{
        display: grid;
        grid-template-columns: auto;
        background-color: var(--orange-white);
        margin-bottom: 15px;
        border-radius: 5px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));;
        position: relative;
    }
   #homePageItemCardImage{
        width: 430px;
        height: auto;
    }
   #homePageItemCardMainText{
        font-family: var(--base-font);
        font-size: 14px;
        font-weight: 500;
        color: var(--celtic);
        margin: 0px;
        padding-left: 5px;
        padding-top: 3px;
        text-shadow:0 0px 0;
    }
   #homePageItemCardSubText{
        font-family: var(--base-font);
        font-size: 14px;
        font-weight: 300;
        color: var(--celtic);
        margin: 0px;
        padding-left: 5px;
        text-shadow:0 0px 0;
    }
   #discountLabelHomePage{
        background-color: #F0A04B;
        width: 187px;
        height: 30px;
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 5px;
        border-width: 2px;
        border-color: var(--celtic);
        border-style: solid;
        display: flex;
        align-items: center;
        justify-content: center;
      }
     #discountLabelText{
        font-family: var(--base-font);
        font-size: 12px;
        font-weight: 600;
        color: var(--celtic);
        margin: 0px;
        text-shadow:0 0px 0;
      }
    
}

/* Medium devices */
/* iPad Pro Portrait only */
@media only screen and (min-width: 768px) and (orientation: portrait) {
     #menuHorizontalScroll{
        overflow: auto;
        white-space: nowrap;
        -ms-overflow-style: none; 
        scrollbar-width: none;
    }
   #menuHorizontalScroll::-webkit-scrollbar{
        display: none;
    }
   #horzontalScrollThumbnail{
        height: 86.55px;
        width: 86.55px;
    }
   #horizontalScrollCard{
        display: grid;
        grid-template-columns: auto;
        display:inline-block;
        margin-right: 15px;
    }
   #horizontalScrollText{
        font-family: var(--base-font);
        font-size: 16.6px;
        font-weight: 400;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 5px;
        color: var(--celtic);
        text-align: center;
        text-shadow:0 0px 0;
    }
   #screenHeading{
        font-family: var(--base-font);
        font-size: 36px;
        font-weight: 700;
        color: var(--celtic);
        margin:0px;
        padding-bottom: 30px;
        text-shadow:0 0px 0;
    }
   #yellowLine{
        width: auto;
        height: 4px;
        background-color: #F6C453;
        margin-top: 15px;
    }
   #screenSubHeading{
        font-family: var(--base-font);
        font-size: 28px;
        font-weight: 600;
        color: var(--celtic);
        margin: 0px;
        padding-top: 30px;
        padding-bottom: 30px;
        text-shadow:0 0px 0;
    }
   #homePageItemGrid{
        display: grid;
        grid-template-columns: 460px 460px;
        justify-content: space-between;
    }
   #homePageItemCard{
        display: grid;
        grid-template-columns: auto;
        background-color: var(--orange-white);
        margin-bottom: 20px;
        border-radius: 5px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));;
        position: relative;
    }
   #homePageItemCardImage{
        width: auto;
        height: 189px;
    }
   #homePageItemCardMainText{
        font-family: var(--base-font);
        font-size: 22px;
        font-weight: 500;
        color: var(--celtic);
        margin: 0px;
        padding-left: 5px;
        padding-top: 3px;
        text-shadow:0 0px 0;
    }
   #homePageItemCardSubText{
        font-family: var(--base-font);
        font-size: 22px;
        font-weight: 300;
        color: var(--celtic);
        margin: 0px;
        padding-left: 5px;
        text-shadow:0 0px 0;
    }
   #discountLabelHomePage{
        background-color: #F0A04B;
        width: 230px;
        height: 38px;
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 5px;
        border-width: 2px;
        border-color: var(--celtic);
        border-style: solid;
        display: flex;
        align-items: center;
        justify-content: center;
      }
     #discountLabelText{
        font-family: var(--base-font);
        font-size: 14.8px;
        font-weight: 600;
        color: var(--celtic);
        margin: 0px;
        text-shadow:0 0px 0;
      }
}



/* iPad Pro Landscape */
@media only screen and (min-width: 1024px) and (orientation: landscape) {
     #menuHorizontalScroll{
        overflow: auto;
        white-space: nowrap;
        -ms-overflow-style: none; 
        scrollbar-width: none;
    }
   #menuHorizontalScroll::-webkit-scrollbar{
        display: none;
    }
   #horzontalScrollThumbnail{
        height: 86.55px;
        width: 86.55px;
    }
   #horizontalScrollCard{
        display: grid;
        grid-template-columns: auto;
        display:inline-block;
        margin-right: 15px;
    }
   #horizontalScrollText{
        font-family: var(--base-font);
        font-size: 16.6px;
        font-weight: 400;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 5px;
        color: var(--celtic);
        text-align: center;
        text-shadow:0 0px 0;
    }
   #screenHeading{
        font-family: var(--base-font);
        font-size: 36px;
        font-weight: 700;
        color: var(--celtic);
        margin:0px;
        padding-bottom: 30px;
        text-shadow:0 0px 0;
    }
   #yellowLine{
        width: auto;
        height: 4px;
        background-color: #F6C453;
        margin-top: 15px;
    }
   #screenSubHeading{
        font-family: var(--base-font);
        font-size: 28px;
        font-weight: 600;
        color: var(--celtic);
        margin: 0px;
        padding-top: 30px;
        padding-bottom: 30px;
        text-shadow:0 0px 0;
    }
   #homePageItemGrid{
        display: grid;
        grid-template-columns: 617.97px 617.97px;
        justify-content: space-between;
    }
   #homePageItemCard{
        display: grid;
        grid-template-columns: auto;
        background-color: var(--orange-white);
        margin-bottom: 20px;
        border-radius: 5px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));;
        position: relative;
    }
   #homePageItemCardImage{
        width: auto;
        height: 254px;
    }
   #homePageItemCardMainText{
        font-family: var(--base-font);
        font-size: 22px;
        font-weight: 500;
        color: var(--celtic);
        margin: 0px;
        padding-left: 5px;
        padding-top: 3px;
        text-shadow:0 0px 0;
    }
   #homePageItemCardSubText{
        font-family: var(--base-font);
        font-size: 22px;
        font-weight: 300;
        color: var(--celtic);
        margin: 0px;
        padding-left: 5px;
        text-shadow:0 0px 0;
    }
   #discountLabelHomePage{
        background-color: #F0A04B;
        width: 230px;
        height: 38px;
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 5px;
        border-width: 2px;
        border-color: var(--celtic);
        border-style: solid;
        display: flex;
        align-items: center;
        justify-content: center;
      }
     #discountLabelText{
        font-family: var(--base-font);
        font-size: 14.8px;
        font-weight: 600;
        color: var(--celtic);
        margin: 0px;
        text-shadow:0 0px 0;
      }
}

