@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "../variables.css";
@media only screen and (max-width: 600px) and (orientation: portrait)  {
    #itemPage {
        background-color: var(--orange-white);
    }
    #itemBody{
        background-color: var(--orange-white);
        min-height: 674px;
        margin-left: 10px;
        margin-right: 10px;
      }
    #mainHeader{
        background-color: var(--orange-white);
        height: 110px;
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto;
        grid-column-gap: 0px;
        justify-content: space-between;
        border: none !important;
    }
    .material-icons.info.celtic { 
        font-size: 16px; 
        color: var(--celtic);
    }   
    #itemPoiImage{
        width: 395px;
        height: 251px;
        object-fit: cover;
        border-radius: 5px;
    }
    #cardItemButtonContainer{
        width: 123.73px;
        height: 30px;
        display: grid;
        grid-template-columns: 41.2px 41.2px 41.2px;
        grid-template-rows: 30px;
        column-gap: 5px;
        margin-left: 120px;
    }
    #addIconCartItem{
        color: var(--celtic);
        font-size: 30px;
        justify-self: center;
    }
    #itemQtyCartContainer{
        width: 35px;
        height: 28px;
        background-color: var(--celtic);
        justify-self: center;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #itemQtyCartText{
        font-weight: 400;
        font-size: 20px;
        color: var(--orange-white);
        margin: 0px;
        font-family: var(--base-font);
        text-align: center;
        line-height: 30px;
        text-shadow:0 0px 0;
    }
    #addToCartBtn{
        width: auto;
        height: 53px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        background-color: var(--cream-can);
        margin-top: 30px;
        margin-bottom: 30px;
    }
    #addToCartBtnText{
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 18px;
        font-weight: 600;
        margin-left: 150px;
        margin-bottom: 10px;
        margin-top: 10px;
        text-shadow:0 0px 0;
    }
    .add_shopping_cart{
        font-size: 24px;
        margin-left: 10px;
    }
    #screenHeading{
        font-family: var(--base-font);
        font-size: 24px;
        font-weight: 700;
        color: var(--celtic);
        margin:0px;
        text-shadow:0 0px 0;
    }
    #cardTotalSectionSmallTxtRight{
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 10px;
        margin-top: 10px;
        text-shadow:0 0px 0;
    }
    .fav{
        margin-left: 180px;
    }
    #yellowBtnFeedbackPopup{
        margin-top: 20px;
    }
    #systemFeedbackPopupHeading{
        margin-bottom: 20px;
    }
    #resName{
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 18px;
        font-weight: 500;
        justify-self: center;
        align-self: center;
        text-shadow:0 0px 0;
    }
    #urbanPoints{
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 14px;
        justify-self: center;
        align-self: center;
        text-shadow:0 0px 0;
    }
    #popupCloseIcon{
        display: none;
    }
    #itemDescription{
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 14px;
        justify-self: center;
        align-self: center;
        text-shadow:0 0px 0;
        margin-top: 20px;
        margin-bottom: 30px;
        font-weight: 400;
        text-align: justify;
    }
    #iconTitleContainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
    }
}

/* iPhone Landscape */
@media only screen and (max-width: 900px) and (orientation: landscape) {
    #itemPage {
        background-color: var(--orange-white);
    }
    #itemBody{
        background-color: var(--orange-white);
        min-height: 674px;
        margin-left: 10px;
        margin-right: 10px;
      }
    #mainHeader{
        background-color: var(--orange-white);
        height: 110px;
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto;
        grid-column-gap: 0px;
        justify-content: space-between;
        border: none !important;
    }
    .material-icons.info.celtic { 
        font-size: 16px; 
        color: var(--celtic);
    }   
    #itemPoiImage{
        width: 876px;
        height: 271px;
        object-fit: cover;
        border-radius: 5px;
    }
    #cardItemButtonContainer{
        width: 123.73px;
        height: 30px;
        display: grid;
        grid-template-columns: 41.2px 41.2px 41.2px;
        grid-template-rows: 30px;
        column-gap: 5px;
        margin-left: 360px;
    }
    #addIconCartItem{
        color: var(--celtic);
        font-size: 30px;
        justify-self: center;
    }
    #itemQtyCartContainer{
        width: 35px;
        height: 28px;
        background-color: var(--celtic);
        justify-self: center;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #itemQtyCartText{
        font-weight: 400;
        font-size: 20px;
        color: var(--orange-white);
        margin: 0px;
        font-family: var(--base-font);
        text-align: center;
        line-height: 30px;
        text-shadow:0 0px 0;
    }
    #addToCartBtn{
        width: auto;
        height: 53px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        background-color: var(--cream-can);
        margin-top: 30px;
        margin-bottom: 30px;
    }
    #addToCartBtnText{
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 18px;
        font-weight: 600;
        margin-left: 150px;
        margin-bottom: 10px;
        margin-top: 10px;
        text-shadow:0 0px 0;
    }
    .add_shopping_cart{
        font-size: 24px;
        margin-left: 10px;
    }
    #screenHeading{
        font-family: var(--base-font);
        font-size: 24px;
        font-weight: 700;
        color: var(--celtic);
        margin:0px;
        text-shadow:0 0px 0;
    }
    #cardTotalSectionSmallTxtRight{
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 18px;
        font-weight: 600;
        margin-right: 450px;
        margin-bottom: 10px;
        margin-top: 10px;
        text-shadow:0 0px 0;
    }
    .fav{
        margin-left: 660px;
    }
    #yellowBtnFeedbackPopup{
        margin-top: 20px;
    }
    #systemFeedbackPopupHeading{
        margin-bottom: 20px;
    }
    #resName{
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 18px;
        font-weight: 500;
        justify-self: center;
        align-self: center;
        text-shadow:0 0px 0;
    }
    #urbanPoints{
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 14px;
        justify-self: center;
        align-self: center;
        text-shadow:0 0px 0;
    }
    #popupCloseIcon{
        display: none;
    }
    #itemDescription{
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 14px;
        justify-self: center;
        align-self: center;
        text-shadow:0 0px 0;
        margin-top: 20px;
        margin-bottom: 30px;
        text-align: justify;
        font-weight: 400;
    }
    #iconTitleContainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
    }
}

/* Medium devices */
/* iPad Pro Portrait only */
@media only screen and (min-width: 768px) and (orientation: portrait) {
    #itemPage {
        background-color: var(--orange-white);
    }
    #itemBody{
        background-color: var(--orange-white);
        min-height: 1080px;
        margin-left: 10px;
        margin-right: 10px;
      }
    #mainHeader{
        background-color: var(--orange-white);
        height: 110px;
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto;
        grid-column-gap: 0px;
        justify-content: space-between;
        border: none !important;
    }
    .material-icons.info.celtic { 
        font-size: 28px; 
        color: var(--celtic);
    }   
    #itemPoiImage{
        width: 1000px;
        height: 600px;
        object-fit: cover;
        border-radius: 5px;
    }
    #cardItemButtonContainer{
        width: 240px;
        height: 50px;
        display: grid;
        grid-template-columns: 80px 80px 80px;
        grid-template-rows: 50px;
        column-gap: 10px;
        margin-left: 360px;
    }
    #addIconCartItem{
        color: var(--celtic);
        font-size: 50px;
        justify-self: center;
    }
    #itemQtyCartContainer{
        width: 58.64px;
        height: 50px;
        background-color: var(--celtic);
        justify-self: center;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #itemQtyCartText{
        font-weight: 400;
        font-size: 35px;
        color: var(--orange-white);
        margin: 0px;
        font-family: var(--base-font);
        text-align: center;
        line-height: 30px;
        text-shadow:0 0px 0;
    }
    #addToCartBtn{
        width: auto;
        height: 105px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        background-color: var(--cream-can);
        margin-top: 40px;
        margin-bottom: 40px;
    }
    #addToCartBtnText{
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 30px;
        font-weight: 600;
        margin-left: 150px;
        margin-bottom: 10px;
        margin-top: 10px;
        text-shadow:0 0px 0;
    }
    .material-icons.add_shopping_cart.celtic{   
        font-size: 36px;
        margin-left: 10px;
        color: var(--celtic);
    }
    #screenHeading{
        font-family: var(--base-font);
        font-size: 36px;
        font-weight: 700;
        color: var(--celtic);
        margin:0px;
        text-shadow:0 0px 0;
    }
    #cardTotalSectionSmallTxtRight{
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 30px;
        font-weight: 600;
        margin-right: 450px;
        margin-bottom: 10px;
        margin-top: 10px;
        text-shadow:0 0px 0;
    }
    .material-icons.fav.celtic{
        font-size: 36px;
        margin-left: 685px;
        color: var(--celtic);
    }
    #yellowBtnFeedbackPopup{
        margin-top: 20px;
    }
    #systemFeedbackPopupHeading{
        margin-bottom: 20px;
    }
    #resName{
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 28px;
        font-weight: 500;
        justify-self: center;
        align-self: center;
        text-shadow:0 0px 0;
    }
    #urbanPoints{
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 24px;
        justify-self: center;
        align-self: center;
        text-shadow:0 0px 0;
    } 
    #itemDescription{
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 24px;
        justify-self: center;
        align-self: center;
        text-shadow:0 0px 0;
        text-align: justify;
        font-weight: 400;
    }
    #popupCloseIcon{
        display: none;
    }
    #iconTitleContainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 60px;
    }
}



/* iPad Pro Landscape */
@media only screen and (min-width: 1024px) and (orientation: landscape) {
    #itemPage {
        background-color: var(--orange-white);
    }
    #itemBody{
        background-color: var(--orange-white);
        min-height: 1080px;
        margin-left: 10px;
        margin-right: 10px;
      }
    #mainHeader{
        background-color: var(--orange-white);
        height: 110px;
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto;
        grid-column-gap: 0px;
        justify-content: space-between;
        border: none !important;
    }
    .material-icons.info.celtic { 
        font-size: 28px; 
        color: var(--celtic);
    }   
    #itemPoiImage{
        width: 1345px;
        height: 600px;
        object-fit: cover;
        border-radius: 5px;
    }
    #cardItemButtonContainer{
        width: 240px;
        height: 50px;
        display: grid;
        grid-template-columns: 80px 80px 80px;
        grid-template-rows: 50px;
        column-gap: 10px;
        margin-left: 550px;
    }
    #addIconCartItem{
        color: var(--celtic);
        font-size: 50px;
        justify-self: center;
    }
    #itemQtyCartContainer{
        width: 58.64px;
        height: 50px;
        background-color: var(--celtic);
        justify-self: center;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #itemQtyCartText{
        font-weight: 400;
        font-size: 35px;
        color: var(--orange-white);
        margin: 0px;
        font-family: var(--base-font);
        text-align: center;
        line-height: 30px;
        text-shadow:0 0px 0;
    }
    #addToCartBtn{
        width: auto;
        height: 105px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        background-color: var(--cream-can);
        margin-top: 40px;
        margin-bottom: 40px;
    }
    #addToCartBtnText{
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 30px;
        font-weight: 600;
        margin-left: 150px;
        margin-bottom: 10px;
        margin-top: 10px;
        text-shadow:0 0px 0;
    }
    .material-icons.add_shopping_cart.celtic{   
        font-size: 36px;
        margin-left: 10px;
        color: var(--celtic);
    }
    #screenHeading{
        font-family: var(--base-font);
        font-size: 36px;
        font-weight: 700;
        color: var(--celtic);
        margin:0px;
        text-shadow:0 0px 0;
    }
    #cardTotalSectionSmallTxtRight{
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 30px;
        font-weight: 600;
        margin-right: 750px;
        margin-bottom: 10px;
        margin-top: 10px;
        text-shadow:0 0px 0;
    }
    .material-icons.fav.celtic{
        font-size: 36px;
        margin-left: 1030px;
        color: var(--celtic);
    }
    #yellowBtnFeedbackPopup{
        margin-top: 20px;
    }
    #systemFeedbackPopupHeading{
        margin-bottom: 20px;
    }
    #resName{
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 28px;
        font-weight: 500;
        justify-self: center;
        align-self: center;
        text-shadow:0 0px 0;
    }
    #urbanPoints{
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 24px;
        justify-self: center;
        align-self: center;
        text-shadow:0 0px 0;
    } 
    #itemDescription{
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 24px;
        justify-self: center;
        align-self: center;
        text-shadow:0 0px 0;
        text-align: justify;
        font-weight: 400;
    } 
    #popupCloseIcon{
        display: none;
    }
    #iconTitleContainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 60px;
    }
}