@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "../variables.css";
@media only screen and (max-width: 600px) and (orientation: portrait)  {
    #googleMap{
        width:100%;
        height:400px;
    }
    .inline-check{
        margin: auto;
        width: 50%;
        padding: auto;
        margin-top: 30px;
        margin-bottom: 55px;
    }
}

/* iPhone Landscape */
@media only screen and (max-width: 900px) and (orientation: landscape) {
    #googleMap{
        width:100%;
        height:400px;
    }
    .inline-check{
        margin: auto;
        width: 50%;
        padding: auto;
        margin-top: 30px;
    }
}

/* Medium devices */
/* iPad Pro Portrait only */
@media only screen and (min-width: 768px) and (orientation: portrait) {
    #googleMap{
        width:100%;
        height:800px;
    }
    .inline-check{
        margin: auto;
        width: 50%;
        padding: auto;
        margin-top: 30px;
    }
}



/* iPad Pro Landscape */
@media only screen and (min-width: 1024px) and (orientation: landscape) {
    #googleMap{
        width:100%;
        height:800px;
    }
    .inline-check{
        margin: auto;
        width: 50%;
        padding: auto;
        margin-top: 30px;
    }
}
