@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "../variables.css";

/* #mainHeader{    
    margin-top: 10px;
} */
.logo{
    max-width: 190px;
    align-self: center;  
    margin-left: 420px;  
}
.heading{
    color:var(--celtic);
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}
#userEmail, #userPassword{
    color:var(--celtic);
    background-color: var(--willow-brook);
    border: 1px solid var(--celtic);
}
#userPassword{
    margin-top: 30px;
}
.ui-page-theme-a .ui-body-inherit{
    background-color: unset;
    border-color: unset;
    color: unset;
    text-shadow: unset;
}
.ui-input-text{
    border-style: unset;
    border-width: unset;
}
#signInButton, #signUpButton{
    background-color: var(--cream-can);
    width: 212px;
    height:48px;
    color: var(--celtic);
    font-family: var(--base-font);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 30px;
}
.signin{
    margin-top: 3px;
    margin-right: 5px;
}
.optionText{
    text-align: center;
    width:100%;
    border-bottom: 1px solid var(--cream-can);
    line-height: 0.1em;
    font-size: 14px;
    font-family: var(--base-font);
    color:var(--celtic);
    margin-top: 30px;
}
.optionText span{
    background-color: var(--orange-white);
    padding: 0 10px;
}

@media only screen and (max-width: 600px) and (orientation: portrait)  {
    .logo{
        margin-left: 40px
    }
}

@media only screen and (max-width: 900px) and (orientation: landscape) {
    .logo{
        margin-left: 245px
    }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
    .logo{        
        margin-left: 300px;  
    }
}

@media only screen and (min-width: 1024px) and (orientation: landscape) {
    .logo{        
        margin-left: 420px;  
    }
}