@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "../variables.css";

/* iPhone potrait only */
@media only screen and (max-width: 600px) and (orientation: portrait){
    #restaurantCardSubText16px{
        margin: 0px;
        font-family: var(--base-font);
        font-size: 16px;
        color: var(--celtic);
        font-weight: 400;
        text-shadow:0 0px 0;
        align-self: center;
    }
    #restaurantCardSubText16pxPrice{
        margin: 0px;
        font-family: var(--base-font);
        font-size: 16px;
        color: var(--celtic);
        font-weight: 400;
        text-shadow:0 0px 0;
        align-self: flex-end;
    }
    #orderPageYellowBtn{
        width: 95.89px;
        height: 31px;
        background-color: var(--cream-can);
        border-radius: 5px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        position: absolute;
        top:10px;
        right: 10px;
        display: flex;
        justify-content: center;
    }
    #orderPageYellowBtnTxt{
        margin: 0px;
        font-family: var(--base-font);
        font-size: 14px;
        color: var(--celtic);
        font-weight: 600;
        text-shadow:0 0px 0;
        align-self: center;
        
    }

}

/* iPhone landscape only */
@media only screen and (max-width: 900px) and (orientation: landscape) {
    #restaurantCardSubText16px{
        margin: 0px;
        font-family: var(--base-font);
        font-size: 16px;
        color: var(--celtic);
        font-weight: 400;
        text-shadow:0 0px 0;
        align-self: center;
    }
    #restaurantCardSubText16pxPrice{
        margin: 0px;
        font-family: var(--base-font);
        font-size: 16px;
        color: var(--celtic);
        font-weight: 400;
        text-shadow:0 0px 0;
        align-self: flex-end;
    }
    #orderPageYellowBtn{
        width: 95.89px;
        height: 31px;
        background-color: var(--cream-can);
        border-radius: 5px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        position: absolute;
        top:10px;
        right: 10px;
        display: flex;
        justify-content: center;
    }
    #orderPageYellowBtnTxt{
        margin: 0px;
        font-family: var(--base-font);
        font-size: 14px;
        color: var(--celtic);
        font-weight: 600;
        text-shadow:0 0px 0;
        align-self: center;
        
    }

    
}

/* iPad potrait only */
@media only screen and (min-width: 768px) and (orientation: portrait) {
    #restaurantCardSubText16px{
        margin: 0px;
        font-family: var(--base-font);
        font-size: 28px;
        color: var(--celtic);
        font-weight: 400;
        text-shadow:0 0px 0;
        align-self: center;
    }
    #restaurantCardSubText16pxPrice{
        margin: 0px;
        font-family: var(--base-font);
        font-size: 28px;
        color: var(--celtic);
        font-weight: 400;
        text-shadow:0 0px 0;
        align-self: flex-end;
    }
    #orderPageYellowBtn{
        width: 176.32px;
        height: 57px;
        background-color: var(--cream-can);
        border-radius: 5px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        position: absolute;
        top:10px;
        right: 10px;
        display: flex;
        justify-content: center;
    }
    #orderPageYellowBtnTxt{
        margin: 0px;
        font-family: var(--base-font);
        font-size: 26px;
        color: var(--celtic);
        font-weight: 600;
        text-shadow:0 0px 0;
        align-self: center;
        
    }
    
}

/* iPad landscape only */
@media only screen and (min-width: 1024px) and (orientation: landscape) {

    #restaurantCardSubText16px{
        margin: 0px;
        font-family: var(--base-font);
        font-size: 28px;
        color: var(--celtic);
        font-weight: 400;
        text-shadow:0 0px 0;
        align-self: center;
    }
    #restaurantCardSubText16pxPrice{
        margin: 0px;
        font-family: var(--base-font);
        font-size: 28px;
        color: var(--celtic);
        font-weight: 400;
        text-shadow:0 0px 0;
        align-self: flex-end;
    }
    #orderPageYellowBtn{
        width: 176.32px;
        height: 57px;
        background-color: var(--cream-can);
        border-radius: 5px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        position: absolute;
        top:10px;
        right: 10px;
        display: flex;
        justify-content: center;
    }
    #orderPageYellowBtnTxt{
        margin: 0px;
        font-family: var(--base-font);
        font-size: 26px;
        color: var(--celtic);
        font-weight: 600;
        text-shadow:0 0px 0;
        align-self: center;
        
    }
    
}