@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "../variables.css";

#page{
    background-color: var(--orange-white);
}
#qrScanContainer{
    text-align: center;
    margin-top: 30px;
    margin:auto;
    background-color: var(--celtic);
    color:var(--orange-white);
    padding:15px;
    font-family: var(--base-font);
    border-radius: 5px; 
    margin-bottom: 30px;  
    max-width: 500px;
    text-shadow:0 0px 0;
}
.qrDescription{
    font-family: var(--base-font);
    font-size: 18px;
    color:var(--celtic);
    text-shadow:0 0px 0;
}
.ui-page-theme-a a{
    color:unset;
    font-weight: unset;
}
#qr-canvas {
    margin: 0 auto;
    width: calc(100% - 20px);
    width:100%;
  }

.ui-page-theme-a .ui-btn{
    background-color: unset;
    border:unset;
    color:var(--celtic);
    text-shadow: unset;
}

.ui-btn-left{
    position: unset;
}

.ui-header .ui-btn-left{
    margin-top:20px;
}

.ui-shadow{
    -webkit-box-shadow:unset;
    box-shadow:unset;
}

.ui-page-theme-a .ui-btn:focus{
    -webkit-box-shadow:unset;
    box-shadow:unset;
}