@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "../variables.css";
@media only screen and (max-width: 600px) and (orientation: portrait)  {
    .material-icons.star.cream { 
        font-size: 32px; 
        color: var(--cream-can);
    }
    .rating{
        margin: auto;
        width: 50%;
        padding: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    #thumb{
        margin-left: 140px;
        margin-right: 10px;
    }
    #suggestions{
        background-color: var(--willow-brook);
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 16px;
        font-weight: 500;
        min-height: 120px;
        border-style: solid;
        border-color: var(--celtic);
        border-width: 1px;
        border-radius: 5px;
        margin-bottom: 30px;
        text-shadow:0 0px 0;
    }
    #cardList{
        margin-bottom: 30px;
    }
    .material-icons-outlined.thumbup.cream {
        color: var(--celtic);
    }
    .material-icons-outlined.thumbDown.cream{
        color: var(--celtic);
    }
    .material-icons.thumbup.cream {
        color: var(--celtic);
    }
    .material-icons.thumbDown.cream{
        color: var(--celtic);
    }
    #smallYellowBtnText{
        font-weight: 500;
        font-size: 10px;
        margin: 0px;
        color: var(--celtic);
        font-family: var(--base-font);
        text-shadow:0 0px 0;
    }
    #smallYellowBtn{
        width: 120px;
        height: 30px;
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: var(--cream-can);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    #skipButton{
        float: left;
        margin-right: 10px;
        margin-top: 10px;
        text-align: right;
    }
    .skipSubmit{
        margin: auto;
        width: 40%;
        align-items: center;
        white-space:nowrap; display:inline;
    }
    .inline-check{
        display:inline;
    }
    #popupCloseIcon{
        display: none;
    }
}

/* iPhone Landscape */
@media only screen and (max-width: 900px) and (orientation: landscape) {
    .material-icons.star.cream { 
        font-size: 32px; 
        color: var(--cream-can);
    }
    .rating{
        margin: auto;
        width: 25%;
        padding: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    #thumb{
        margin-left: 630px;
        margin-right: 10px;
    }
    #suggestions{
        background-color: var(--willow-brook);
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 16px;
        font-weight: 500;
        min-height: 120px;
        border-style: solid;
        border-color: var(--celtic);
        border-width: 1px;
        border-radius: 5px;
        margin-bottom: 30px;
        text-shadow:0 0px 0;
    }
    #cardList{
        margin-bottom: 30px;
    }
    .material-icons-outlined.thumbup.cream {
        color: var(--celtic);
    }
    .material-icons-outlined.thumbDown.cream{
        color: var(--celtic);
    }
    .material-icons.thumbup.cream {
        color: var(--celtic);
    }
    .material-icons.thumbDown.cream{
        color: var(--celtic);
    }
    #smallYellowBtnText{
        font-weight: 500;
        font-size: 10px;
        margin: 0px;
        color: var(--celtic);
        font-family: var(--base-font);
        text-shadow:0 0px 0;
    }
    #smallYellowBtn{
        width: 120px;
        height: 30px;
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: var(--cream-can);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    #skipButton{
        float: left;
        margin-right: 10px;
        margin-top: 10px;
        text-align: right;
    }
    .skipSubmit{
        margin: auto;
        width: 40%;
        align-items: center;
        white-space:nowrap; display:inline;
    }
    #popupCloseIcon{
        display: none;
    }
}

/* Medium devices */
/* iPad Pro Portrait only */
@media only screen and (min-width: 768px) and (orientation: portrait) {
    .material-icons.star.cream { 
        font-size: 45px; 
        color: var(--cream-can);
    }
    .rating{
        margin: auto;
        width: 25%;
        padding: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    #thumb{
        margin-left: 520px;
        margin-right: 10px;
    }
    #suggestions{
        background-color: var(--willow-brook);
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 26px;
        font-weight: 500;
        min-height: 120px;
        border-style: solid;
        border-color: var(--celtic);
        border-width: 1px;
        border-radius: 5px;
        margin-bottom: 30px;
        text-shadow:0 0px 0;
    }
    #cardList{
        margin-bottom: 30px;
    }
    .material-icons.thumbup.cream {
        color: var(--celtic);
        font-size: 46px;
    }
    .material-icons.thumbDown.cream{
        color: var(--celtic);
        font-size: 46px;
    }
    .material-icons-outlined.thumbup.cream {
        color: var(--celtic);
        font-size: 46px;
    }
    .material-icons-outlined.thumbDown.cream{
        color: var(--celtic);
        font-size: 46px;
    }
    #smallYellowBtnText{
        font-weight: 500;
        font-size: 26px;
        margin: 0px;
        color: var(--celtic);
        font-family: var(--base-font);
        text-shadow:0 0px 0;
    }
    #smallYellowBtn{
        width: 180px;
        height: 55px;
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: var(--cream-can);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    #skipButton{
        float: left;
        margin-right: 60px;
        margin-top: 10px;
        text-align: right;
    }
    .skipSubmit{
        margin: auto;
        width: 45%;
        align-items: center;
        white-space:nowrap; display:inline;
    }
    #popupCloseIcon{
        display: none;
    }
}



/* iPad Pro Landscape */
@media only screen and (min-width: 1024px) and (orientation: landscape) {
    .material-icons.star.cream { 
        font-size: 45px; 
        color: var(--cream-can);
    }
    .rating{
        margin: auto;
        width: 25%;
        padding: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    #thumb{
        margin-left: 850px;
        margin-right: 10px;
    }
    #suggestions{
        background-color: var(--willow-brook);
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 26px;
        font-weight: 500;
        min-height: 120px;
        border-style: solid;
        border-color: var(--celtic);
        border-width: 1px;
        border-radius: 5px;
        margin-bottom: 30px;
        text-shadow:0 0px 0;
    }
    #cardList{
        margin-bottom: 30px;
    }
    .material-icons.thumbup.cream {
        color: var(--celtic);
        font-size: 46px;
    }
    .material-icons.thumbDown.cream{
        color: var(--celtic);
        font-size: 46px;
    }
    .material-icons-outlined.thumbup.cream {
        color: var(--celtic);
        font-size: 46px;
    }
    .material-icons-outlined.thumbDown.cream{
        color: var(--celtic);
        font-size: 46px;
    }
    #smallYellowBtnText{
        font-weight: 500;
        font-size: 26px;
        margin: 0px;
        color: var(--celtic);
        font-family: var(--base-font);
        text-shadow:0 0px 0;
    }
    #smallYellowBtn{
        width: 180px;
        height: 55px;
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: var(--cream-can);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    #skipSubmit{
        white-space:nowrap; display:inline;
    }
    #skipButton{
        float: left;
        margin-right: 60px;
        margin-top: 10px;
        text-align: right;
    }
    .skipSubmit{
        margin: auto;
        width: 45%;
        align-items: center;
        white-space:nowrap; display:inline;
    }
    #popupCloseIcon{
        display: none;
    }
}

#screenHeading{
    margin-top: 30px;
}

