@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "../variables.css";
@media only screen and (max-width: 600px) and (orientation: portrait)  {
    #smallYellowBtnText{
        font-weight: 500;
        font-size: 10px;
        margin: 0px;
        color: var(--celtic);
        font-family: var(--base-font);
        text-shadow:0 0px 0;
    }
    #smallYellowBtnIcon{
        color: var(--celtic);
        font-size: 12px;
    }
    #smallYellowBtnRight{
        width: 83.17px;
        height: 25px;
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        float: right;
        background-color: var(--cream-can);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    #cardItemQtyText{
        font-weight: 400;
        font-size: 16px;
        color: var(--celtic);
        margin: 0px;
        font-family: var(--base-font);
        align-self: flex-end;
        text-shadow:0 0px 0;
        float: right;
        position: absolute;
        bottom: 10px;
        right: 10px;

    }
}

/* iPhone Landscape */
@media only screen and (max-width: 900px) and (orientation: landscape) {
    #smallYellowBtnText{
        font-weight: 500;
        font-size: 10px;
        margin: 0px;
        color: var(--celtic);
        font-family: var(--base-font);
        text-shadow:0 0px 0;
    }
    #smallYellowBtnIcon{
        color: var(--celtic);
        font-size: 12px;
    }
    #smallYellowBtnRight{
        width: 83.17px;
        height: 25px;
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        float: right;
        background-color: var(--cream-can);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    #cardItemQtyText{
        font-weight: 400;
        font-size: 16px;
        color: var(--celtic);
        margin: 0px;
        font-family: var(--base-font);
        align-self: flex-end;
        text-shadow:0 0px 0;
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
}

/* Medium devices */
/* iPad Pro Portrait only */
@media only screen and (min-width: 768px) and (orientation: portrait) {
    #smallYellowBtnText{
        font-weight: 500;
        font-size: 26px;
        margin: 0px;
        color: var(--celtic);
        font-family: var(--base-font);
        text-shadow:0 0px 0;
    }
    #smallYellowBtnIcon{
        color: var(--celtic);
        font-size: 26px;
    }
    #smallYellowBtnRight{
        width: 180px;
        height: 55px;
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        float: right;
        background-color: var(--cream-can);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    #cardItemQtyText{
        font-weight: 400;
        font-size: 28px;
        color: var(--celtic);
        margin: 0px;
        font-family: var(--base-font);
        align-self: flex-end;
        text-shadow:0 0px 0;
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
}

/* iPad Pro Landscape */
@media only screen and (min-width: 1024px) and (orientation: landscape) {
    #smallYellowBtnText{
        font-weight: 500;
        font-size: 26px;
        margin: 0px;
        color: var(--celtic);
        font-family: var(--base-font);
        text-shadow:0 0px 0;
    }
    #smallYellowBtnIcon{
        color: var(--celtic);
        font-size: 26px;
    }
    #smallYellowBtnRight{
        width: 180px;
        height: 55px;
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        float: right;
        background-color: var(--cream-can);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    #cardItemQtyText{
        font-weight: 400;
        font-size: 28px;
        color: var(--celtic);
        margin: 0px;
        font-family: var(--base-font);
        align-self: flex-end;
        text-shadow:0 0px 0;
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
}