@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "../variables.css";
@media only screen and (max-width: 600px) and (orientation: portrait)  {
    .rectangle {
        height: 180px;
        width: 100%;
        color:var(--celtic);
        border: 2px solid;
        border-color: var(--cream-can);        
        display: flex;
        justify-content:justify;
        align-items: justify;
        margin-bottom: 30px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: 30px 30px 30px 40px;
    }
    #restaurantLogo{
        grid-column: 1;
        width: 114px;
        height: 153px;
        margin: 10px;
        margin-top: 20px;
    }
    #restName{
        grid-column: 2;
        grid-row: 1;
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 18px;
        font-weight: 500;
        text-shadow:0 0px 0;
    }
    #resProduct{
        grid-column: 2;
        grid-row: 2;
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 13px;
        font-weight: 400;
        margin-top: 15px;
        margin-bottom: 0px;
    }
    #resDeliver{
        grid-column: 2;
        grid-row: 3;
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 13px;
        font-weight: 400;
        margin-top: 15px;
        margin-bottom: 0px;
    }
    #Restrating{
        grid-column: 2;
        grid-row: 4;
        width: 120px;
        height: 18px;
        align-self: center;
    }
    #gridYellowBtn{
        width: 100px;
        height: 25px;
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: var(--cream-can);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 5px;
    }
    .infoBtn{
        grid-column: 2;
        grid-row: 5;
    }
    .videoBtn{
        grid-column: 3;
        grid-row: 5;
    }
    .material-icons-outlined.info.celtic{
        color: var(--celtic);
    }
    .material-icons-outlined.play.celtic{
        color: var(--celtic);
    }
    #videoPlay{
        width : 93%;
        height : auto;
        margin: 10px;
        display: inline-block;
        align-self: center;
        grid-column: 2;
        grid-row: 2;
    }
    #systemFeedbackVideoPopupContent{
        width: auto;
        height: 280px;
        display: grid;
        grid-template-rows: 67.3px 67.3px 67.3px;
        background-color: var(--orange-white);
    }
    #yellowBtnFeedbackPopup {
        margin-top: 110px;
    }
    #systemFeedbackInfoPopupContent{
        width: auto;
        height: 446px;
        display: grid;
        grid-template-rows: 67.3px 67.3px 67.3px;
        background-color: var(--orange-white);
    }
    #systemFeedbackInfoPopupMainSubText{
        font-family: var(--base-font);
        font-weight: 600;
        font-size: 13px;
        color: var(--celtic);
        margin-bottom: 20px;
    }
    #systemFeedbackInfoPopupHeading {
        font-family: var(--base-font);
        font-weight: 600;
        font-size: 15px;
        color: var(--celtic);
        margin: 0px;
        display: inline-block;
        justify-self: center;
        align-self: flex-end;
        text-shadow: 0 0px 0;
        margin-top: 240px;
    }
    #ResturantItemFilterPopup{
        height: 410px;
        width: 380px;
        background-color: var(--orange-white);
    }
    #filterPopupHeading{
        font-family: var(--base-font);;
        font-weight: 600;
        font-size: 24px;
        color: var(--celtic);
        text-align: center;
        display: inline-flex;
        justify-self: center;
        align-self: flex-end;
        margin-left: 40%;
        
    }
    #filterItemListContainer{
        height: auto;
        width: 50%;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        justify-content: start;
        float: left;
    }
    #filterPriceListContainer{
        height: auto;
        width: 50%;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        justify-content: start;
        float: right;
    }
    #filterPopupSubHeading{
        font-family: var(--base-font);
        font-size: 18px;
        width: 40%;
        color: var(--celtic);
        font-weight: 600;
        margin-left: 50px;
        margin-top: 20px;
        margin-right: 0px;
        margin-bottom: o;
        float: left;
    }
    #filterPopupSubHeading1{
        font-family: var(--base-font);
        font-size: 18px;
        width: 50px;
        color: var(--celtic);
        font-weight: 600;
        margin-right: 120px;
        float: right;  
    }
    #typeRadioBtn{
        width: 15px;
        height: 15px;
        color: var(--celtic);
        margin-left: 50px;
    }
    #priceRadioBtn{
        width: 15px;
        height: 15px;
        color: var(--celtic);
        margin-left: 20px;
    }
    #typeRadioButtonContent{
        display: flex;
        grid-template-rows: auto auto;
        justify-content: start;
    }
    #priceRadioButtonContent{
        display: flex;
        grid-template-rows: auto auto;
        justify-content: start;
    }
    #ratingRadioButtonText{
        font-weight: 500;
        font-size: 13px;
        color: var(--celtic);
        font-family: var(--base-font);
    }
    #priceRadioButtonText{
        font-weight: 500;
        font-size: 13px;
        color: var(--celtic);
        font-family: var(--base-font);
        margin-left: 10px;
        margin-top: 0;
    }
    #yellowBtnApplyPopup{
        width: 91px;
        height: 31px;
        border-radius: 5px;
        background-color: var(--cream-can);
        /* display: inline-block; */
        justify-self: center;
        align-self: flex-start;
        margin-left: 140px;
        margin-top: 15px;
    }
    #yellowBtnapplyPopupContent{
        display: flex;
        width: 91px;
        height: 31px;
        justify-content: center;
        align-items: center;
    }
    #yellowBtnFilterCancel{
        width: 35px;
        height: 31px;
        border-radius: 5px;
        background-color: var(--cream-can);
        justify-self: right;
        display: inline-block;
        margin-left: 95px;
        margin-block-end: -10px;
    }

   #yellowBtnFilterCancelContent{
        display: flex;
        width: 31px;
        height: 31px;
        justify-content: center;
        align-items: center;
    }
    .material-icons.filterOff{
        color: var(--celtic);
        height: auto;
        width: 15px;
        align-content: center;
    }
    #popupCloseIcon1{
        float: right;
        margin-top: 10px;
        margin-right: 10px;
        font-size: 32px;
        color: var(--celtic);
    }
    
}

/* iPhone Landscape */
@media only screen and (max-width: 900px) and (orientation: landscape) {
    .rectangle {
        height: 180px;
        width: 100%;
        color:var(--celtic);
        border: 2px solid;
        border-color: var(--cream-can);        
        display: flex;
        justify-content:center;
        align-items: center;
        margin-bottom: 30px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: 30px 30px 30px 40px;
    }
    #restaurantLogo{
        grid-column: 1;
        width: 114px;
        height: 153px;
        margin: 10px;
        margin-top: 160px;
    }
    #restName{
        grid-column: 2;
        grid-row: 1;
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 18px;
        font-weight: 500;
        text-shadow:0 0px 0;
    }
    #resProduct{
        grid-column: 2;
        grid-row: 2;
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 13px;
        font-weight: 400;
        margin-top: 15px;
        margin-bottom: 0px;
    }
    #resDeliver{
        grid-column: 2;
        grid-row: 3;
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 13px;
        font-weight: 400;
        margin-top: 15px;
        margin-bottom: 0px;
    }
    #Restrating{
        grid-column: 2;
        grid-row: 4;
        width: 120px;
        height: 18px;
        align-self: center;
    }
    #gridYellowBtn{
        width: 100px;
        height: 25px;
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: var(--cream-can);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 5px;
    }
    .infoBtn{
        grid-column: 2;
        grid-row: 5;
    }
    .videoBtn{
        grid-column: 3;
        grid-row: 5;
    }
    .material-icons-outlined.info.celtic{
        color: var(--celtic);
    }
    .material-icons-outlined.play.celtic{
        color: var(--celtic);
    }
    #videoPlay{
        width : 93%;
        height : auto;
        margin: 10px;
        display: inline-block;
        align-self: center;
        grid-column: 2;
        grid-row: 2;
    }
    #systemFeedbackVideoPopupContent{
        width: auto;
        height: 280px;
        display: grid;
        grid-template-rows: 67.3px 67.3px 67.3px;
        background-color: var(--orange-white);
    }
    #yellowBtnFeedbackPopup {
        margin-top: 110px;
    }
    #systemFeedbackInfoPopupContent{
        width: auto;
        height: 446px;
        display: grid;
        grid-template-rows: 67.3px 67.3px 67.3px;
        background-color: var(--orange-white);
    }
    #systemFeedbackInfoPopupMainSubText{
        font-family: var(--base-font);
        font-weight: 600;
        font-size: 13px;
        color: var(--celtic);
        margin-bottom: 20px;
    }
    #systemFeedbackInfoPopupHeading {
        font-family: var(--base-font);
        font-weight: 600;
        font-size: 15px;
        color: var(--celtic);
        margin: 0px;
        display: inline-block;
        justify-self: center;
        align-self: flex-end;
        text-shadow: 0 0px 0;
        margin-top: 240px;
    }
    #systemFeedbackPopupSubTextstar{
        color: var(--cream-can);
    }
    #ResturantItemFilterPopup{
        height: 400px;
        width: 530px;
        background-color: var(--orange-white);
    }
    #filterPopupHeading{
        font-family: var(--base-font);;
        font-weight: 600;
        font-size: 24px;
        color: var(--celtic);
        text-align: center;
        display: inline-flex;
        justify-self: center;
        align-self: flex-end;
        margin-left: 45%;
        
    }
    #filterItemListContainer{
        height: auto;
        width: 265px;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        justify-content: start;
        float: left;
        margin-left: 5px;
    }
    #filterPriceListContainer{
        height: auto;
        width: 200px;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        justify-content: start;
        float: right;
        margin-right: 35px;
    }
    #filterPopupSubHeading{
        font-family: var(--base-font);
        font-size: 18px;
        width: 40%;
        color: var(--celtic);
        font-weight: 600;
        margin-left: 50px;
        margin-top: 20px;
        margin-right: 0px;
        margin-bottom: o;
        float: left;
    }
    #filterPopupSubHeading1{
        font-family: var(--base-font);
        font-size: 18px;
        width: 50px;
        color: var(--celtic);
        font-weight: 600;
        margin-right: 170px;
        float: right;
          
    }
    #typeRadioBtn{
        width: 15px;
        height: 15px;
        color: var(--celtic);
        margin-left: 50px;
    }
    #priceRadioBtn{
        width: 15px;
        height: 15px;
        color: var(--celtic);
        margin-left: 20px;
    }
    #typeRadioButtonContent{
        display: flex;
        grid-template-rows: auto auto;
        justify-content: start;
    }
    #priceRadioButtonContent{
        display: flex;
        grid-template-rows: auto auto;
        justify-content: start;
    }
    #ratingRadioButtonText{
        font-weight: 500;
        font-size: 13px;
        color: var(--celtic);
        font-family: var(--base-font);
    }
    #priceRadioButtonText{
        font-weight: 500;
        font-size: 13px;
        color: var(--celtic);
        font-family: var(--base-font);
        margin-left: 10px;
        margin-top: 0;
    }
    #yellowBtnApplyPopup{
        width: 91px;
        height: 31px;
        border-radius: 5px;
        background-color: var(--cream-can);
        display: inline-block;
        justify-self: center;
        align-self: flex-start;
        margin-top: 5px;
        
    }
    #yellowBtnapplyPopupContent{
        display: flex;
        width: 91px;
        height: 31px;
        justify-content: center;
        align-items: center;
    }
    #yellowBtnFilterCancel{
        width: 35px;
        height: 31px;
        border-radius: 5px;
        background-color: var(--cream-can);
        justify-self: right;
        display: inline-block;
        margin-left: 160px;
        margin-block-end: -10px;
    }

   #yellowBtnFilterCancelContent{
        display: flex;
        width: 31px;
        height: 31px;
        justify-content: center;
        align-items: center;
    }
    .material-icons.filterOff{
        color: var(--celtic);
        height: auto;
        width: 15px;
        align-content: center;
    }
    #popupCloseIcon1{
        float: right;
        margin-top: 10px;
        margin-right: 10px;
        font-size: 32px;
        color: var(--celtic);
    }
}

/* Medium devices */
/* iPad Pro Portrait only */
@media only screen and (min-width: 768px) and (orientation: portrait) {
    .rectangle {
        height: 435px;
        width: 100%;
        color:var(--celtic);
        border: 4px solid;
        border-color: var(--cream-can);        
        display: flex;
        justify-content:center;
        align-items: center;
        margin-bottom: 30px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: 80px 80px 80px 80px;
    }
    #restaurantLogo{
        grid-column: 1;
        grid-row: 3;
        width: 280px;
        height: 370px;
        margin: 80px;
        margin-top: 120px;
        
    }
    #restName{
        grid-column: 2;
        grid-row: 1;
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 36px;
        font-weight: 500;
        text-shadow:0 0px 0;
    }
    #resProduct{
        grid-column: 2;
        grid-row: 2;
        font-size: 30px;
        color: var(--celtic);
        font-weight: 400;
        font-family: var(--base-font);
    }
    #resDeliver{
        grid-column: 2;
        grid-row: 3;
        font-size: 30px;
        color: var(--celtic);
        font-weight: 400;
        font-family: var(--base-font);
    }
    #Restrating{
        grid-column: 2;
        grid-row: 4;
        width: 300px;
        height: 45px;
        align-self: center;
    }
    #gridYellowBtn{
        width: 220px;
        height: 55px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: var(--cream-can);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 5px;
    }
    .infoBtn{
        grid-column: 2;
        grid-row: 5;
    }
    .videoBtn{
        grid-column: 3;
        grid-row: 5;
        
    }
    .material-icons-outlined.info.celtic{
        color: var(--celtic);
        font-size: 36px;
    }
    .material-icons-outlined.play.celtic{
        color: var(--celtic);
        font-size: 36px;
    }
    #videoPlay{
        width : 97%;
        height : 330px;
        margin: 10px;
        display: inline-block;
        align-self: center;
        grid-column: 2;
        grid-row: 2;
    }
    #systemFeedbackVideoPopupContent{
        width: auto;
        height: 520px;
        display: grid;
        grid-template-rows: 67.3px 67.3px 67.3px;
        background-color: var(--orange-white);
    }
    #yellowBtnFeedbackPopup {
        margin-top: 300px;
    }
    #systemFeedbackInfoPopupContent{
        width: auto;
        height: 800px;
        display: grid;
        grid-template-rows: 67.3px 67.3px 67.3px;
        background-color: var(--orange-white);
    }
    #systemFeedbackInfoPopupMainSubText{
        font-family: var(--base-font);
        font-weight: 600;
        font-size: 24px;
        color: var(--celtic);
        margin-bottom: 20px;
    }
    #systemFeedbackInfoPopupHeading {
        font-family: var(--base-font);
        font-weight: 600;
        font-size: 28px;
        color: var(--celtic);
        margin: 0px;
        display: inline-block;
        justify-self: center;
        align-self: flex-end;
        text-shadow: 0 0px 0;
        margin-top: 600px;
    }
    #ResturantItemFilterPopup{
        height: 780px;
        width: 700px;
        background-color: var(--orange-white);
    }
    #filterPopupHeading{
        font-family: var(--base-font);;
        font-weight: 600;
        font-size: 36px;
        color: var(--celtic);
        text-align: center;
        display: inline-flex;
        justify-self: center;
        align-self: flex-end;
        margin-left: 45%;
        
    }
    #filterItemListContainer{
        height: auto;
        width: 60%;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        justify-content: start;
        float: left;
    }
    #filterPriceListContainer{
        height: auto;
        width: 40%;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        justify-content: start;
        float: right;
    }
    #filterPopupSubHeading{
        font-family: var(--base-font);
        font-size: 28px;
        width: 30%;
        color: var(--celtic);
        font-weight: 600;
        margin-left: 80px;
        margin-top: 20px;
        margin-right: 0px;
        
        float: left;
    }
    #filterPopupSubHeading1{
        font-family: var(--base-font);
        font-size: 28px;
        width: 30%;
        color: var(--celtic);
        font-weight: 600;
        margin-right: 50px;
        float: right;
          
    }
    #typeRadioBtn{
        width: 30px;
        height: 30px;
        color: var(--celtic);
        margin-left: 80px;
    }
    #priceRadioBtn{
        width: 30px;
        height: 30px;
        color: var(--celtic);
        margin-left: 20px;
    }
    #typeRadioButtonContent{
        display: flex;
        grid-template-rows: auto auto;
        justify-content: start;
    }
    #priceRadioButtonContent{
        display: flex;
        grid-template-rows: auto auto;
        justify-content: start;
    }
    #ratingRadioButtonText{
        font-weight: 500;
        font-size: 24px;
        color: var(--celtic);
        font-family: var(--base-font);
        margin-bottom: 25px;
        margin-left: 20px;
    }
    #priceRadioButtonText{
        font-weight: 500;
        font-size: 24px;
        color: var(--celtic);
        font-family: var(--base-font);
        margin-left: 10px;
        margin-top: 0;
        margin-bottom: 25px;
    }
    #yellowBtnApplyPopup{
        width: 180px;
        height: 61px;
        border-radius: 5px;
        background-color: var(--cream-can);
        display: inline-block;
        justify-self: center;
        align-self: flex-start;
        margin-top: 105px;
        
    }
    #yellowBtnapplyPopupContent{
        display: flex;
        width: 91px;
        height: 31px;
        justify-content: center;
        align-items: center;
    }
    #yellowBtnFilterCancel{
        width: 65px;
        height: 58px;
        border-radius: 5px;
        background-color: var(--cream-can);
        justify-self: right;
        display: inline-block;
        margin-left: 165px;
        margin-block-end: -10px;
    }

   #yellowBtnFilterCancelContent{
        display: flex;
        width: 45px;
        height: 60px;
        justify-content: center;
        align-items: center;
    }
    .material-icons.filterOff{
        color: var(--celtic);
        height: auto;
        width: 15px;
        align-content: center;
    }
    #popupCloseIcon1{
        float: right;
        margin-top: 15px;
        margin-right: 15px;
        font-size: 60px;
        color: var(--celtic);
    }
}



/* iPad Pro Landscape */
@media only screen and (min-width: 1024px) and (orientation: landscape) {
    .rectangle {
        height: 435px;
        width: 100%;
        color:var(--celtic);
        border: 4px solid;
        border-color: var(--cream-can);        
        display: flex;
        justify-content:center;
        align-items: center;
        margin-bottom: 30px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: 80px 80px 80px 80px;
    }
    #restaurantLogo{
        grid-column: 1;
        grid-row: 3;
        width: 280px;
        height: 370px;
        margin: 80px;
        margin-top: 120px;
        
    }
    #restName{
        grid-column: 2;
        grid-row: 1;
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 36px;
        font-weight: 500;
        text-shadow:0 0px 0;
    }
    #resProduct{
        grid-column: 2;
        grid-row: 2;
        font-size: 30px;
        color: var(--celtic);
        font-weight: 400;
        font-family: var(--base-font);
    }
    #resDeliver{
        grid-column: 2;
        grid-row: 3;
        font-size: 30px;
        color: var(--celtic);
        font-weight: 400;
        font-family: var(--base-font);
    }
    #Restrating{
        grid-column: 2;
        grid-row: 4;
        width: 300px;
        height: 45px;
        align-self: center;
    }
    #gridYellowBtn{
        width: 220px;
        height: 55px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: var(--cream-can);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 5px;
    }
    .infoBtn{
        grid-column: 2;
        grid-row: 5;
    }
    .videoBtn{
        grid-column: 3;
        grid-row: 5;
        
    }
    .material-icons-outlined.info.celtic{
        color: var(--celtic);
        font-size: 36px;
    }
    .material-icons-outlined.play.celtic{
        color: var(--celtic);
        font-size: 36px;
    }
    #videoPlay{
        width : 97%;
        height : 330px;
        margin: 10px;
        display: inline-block;
        align-self: center;
        grid-column: 2;
        grid-row: 2;
    }
    #systemFeedbackVideoPopupContent{
        width: auto;
        height: 520px;
        display: grid;
        grid-template-rows: 67.3px 67.3px 67.3px;
        background-color: var(--orange-white);
    }
    #yellowBtnFeedbackPopup {
        margin-top: 300px;
    }
    #systemFeedbackInfoPopupContent{
        width: auto;
        height: 800px;
        display: grid;
        grid-template-rows: 67.3px 67.3px 67.3px;
        background-color: var(--orange-white);
    }
    #systemFeedbackInfoPopupMainSubText{
        font-family: var(--base-font);
        font-weight: 600;
        font-size: 24px;
        color: var(--celtic);
        margin-bottom: 20px;
    }
    #systemFeedbackInfoPopupHeading {
        font-family: var(--base-font);
        font-weight: 600;
        font-size: 28px;
        color: var(--celtic);
        margin: 0px;
        display: inline-block;
        justify-self: center;
        align-self: flex-end;
        text-shadow: 0 0px 0;
        margin-top: 600px;
    }
    #ResturantItemFilterPopup{
        height: 760px;
        width: 1020px;
        background-color: var(--orange-white);
    }
    #filterPopupHeading{
        font-family: var(--base-font);;
        font-weight: 600;
        font-size: 36px;
        color: var(--celtic);
        text-align: center;
        display: inline-flex;
        justify-self: center;
        align-self: flex-end;
        width: 40%;
        margin-left: 450px;
        
    }
    #filterItemListContainer{
        height: auto;
        width: 60%;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        justify-content: start;
        float: left;
    }
    #filterPriceListContainer{
        height: auto;
        width: 40%;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        justify-content: start;
        float: right;
    }
    #filterPopupSubHeading{
        font-family: var(--base-font);
        font-size: 28px;
        width: 30%;
        color: var(--celtic);
        font-weight: 600;
        margin-left: 100px;
        margin-top: 20px;
        margin-right: 0px;
        
        float: left;
    }
    #filterPopupSubHeading1{
        font-family: var(--base-font);
        font-size: 28px;
        width: 30%;
        color: var(--celtic);
        font-weight: 600;
        margin-right: 80px;
        float: right;
          
    }
    #typeRadioBtn{
        width: 30px;
        height: 30px;
        color: var(--celtic);
        margin-left: 100px;
    }
    #priceRadioBtn{
        width: 30px;
        height: 30px;
        color: var(--celtic);
        margin-left: 20px;
    }
    #typeRadioButtonContent{
        display: flex;
        grid-template-rows: auto auto;
        justify-content: start;
    }
    #priceRadioButtonContent{
        display: flex;
        grid-template-rows: auto auto;
        justify-content: start;
    }
    #ratingRadioButtonText{
        font-weight: 500;
        font-size: 24px;
        color: var(--celtic);
        font-family: var(--base-font);
        margin-bottom: 25px;
        margin-left: 25px;
    }
    #priceRadioButtonText{
        font-weight: 500;
        font-size: 24px;
        color: var(--celtic);
        font-family: var(--base-font);
        margin-left: 25px;
        margin-top: 0;
        margin-bottom: 25px;
    }
    #yellowBtnApplyPopup{
        width: 180px;
        height: 61px;
        border-radius: 5px;
        background-color: var(--cream-can);
        display: inline-block;
        justify-self: center;
        align-self: flex-start;
        margin-top: 85px;
        
    }
    #yellowBtnapplyPopupContent{
        display: flex;
        width: 91px;
        height: 31px;
        justify-content: center;
        align-items: center;
    }
    #yellowBtnFilterCancel{
        width: 65px;
        height: 58px;
        border-radius: 5px;
        background-color: var(--cream-can);
        justify-self: right;
        display: inline-block;
        margin-left: 315px;
        margin-block-end: -10px;
    }

   #yellowBtnFilterCancelContent{
        display: flex;
        width: 45px;
        height: 60px;
        justify-content: center;
        align-items: center;
    }
    .material-icons.filterOff{
        color: var(--celtic);
        height: auto;
        width: 15px;
        align-content: center;
    }
    #popupCloseIcon1{
        float: right;
        margin-top: 15px;
        margin-right: 15px;
        font-size: 60px;
        color: var(--celtic);
    }
}

