@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "../variables.css";
/* Extra small devices (phones, 600px and down) */
/* iPhone potrait only */
@media only screen and (max-width: 600px) and (orientation: portrait)  {
   #filterGrid{
        margin-top: 15px;
        margin-bottom: 15px;
        display: flex;
    }
   #filterHorizontalScroll{
        height: auto;
        overflow: auto;
        white-space: nowrap;
        -ms-overflow-style: none; 
        scrollbar-width: none;
    }
   #filterHorizontalScroll::-webkit-scrollbar{
        display: none;
    }
   #filterIcon{
        height: 24px;
        width: auto;
        margin-left: 15px;
        margin-right: 15px;  
    }
   #filterScrollBtn{
        width: auto;
        height: auto;
        background-color: var(--cream-can);
        margin-right: 30px;
        border-radius: 5px;
        display:inline-block;  
    }
   #filterScrollBtnText{
        font-family: var(--);
        font-size: 12px;
        font-weight: 700;
        color: var(--celtic);
        margin: 0px;
        text-shadow:0 0px 0;
    }
   #filterScrollBtnContent{
        width: 68px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #yellowBtnEmailPopup{
        width: 91px;
        height: 31px;
        border-radius: 5px;
        background-color: var(--cream-can);
        display: inline-block;
        justify-self: center;
        align-self: flex-start;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
   #yellowBtnEmailPopupContent{
        display: flex;
        width: 91px;
        height: 31px;
        justify-content: center;
        align-items: center;
    }
    #ratingFilterPopup {
        width: 376px;
        height: 450px;
        background-color: var(--orange-white);
    }
   #ratingFilterPopupContent {
        width: auto;
        height: 450px;
        display: grid;
        grid-template-rows: 0px 67.3px;
        background-color: var(--orange-white);
    }
    #ratingFilterPopupHeading{
        font-family: var(--base-font);;
        font-weight: 600;
        font-size: 24px;
        color: var(--celtic);
        margin: 0px;
        display: inline-block;
        justify-self: center;
        align-self: flex-end;
    }
    .resturantFilterSubHeading{
        margin: 0px;
        font-family: var(--base-font);
        font-size: 18px;
        color: var(--celtic);
        font-weight: 600;
        margin-left: 50px;
        margin-top: 20px;
        
    }
    #ratingContainer{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto;
        margin-bottom: 10px;
        justify-content: start;
        margin-top: 10px;
    }
    #ratingRadioBtn{
        margin: 0px;
        margin-left: 50px;
        margin-right: 10px;
        width: 15px;
        height: 15px;
        color: var(--celtic);
    }
    #ratingRadioButtonContent{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: start;
    }
    #ratingRadioButtonText{
        font-weight: 500;
        font-size: 13px;
        color: var(--celtic);
        font-family: var(--base-font);
        margin: 0px;
        margin-left: 10px;
        margin-bottom: 13px;
    }
    #yellowBtnApplyPopup{
        width: 91px;
        height: 31px;
        border-radius: 5px;
        background-color: var(--cream-can);
        display: inline-block;
        justify-self: center;
        align-self: flex-start;
        margin-left: 140px;

    }
   #yellowBtnapplyPopupContent{
        display: flex;
        width: 91px;
        height: 31px;
        justify-content: center;
        align-items: center;
    }
    #yellowBtnFilterCancel{
        width: 35px;
        height: 31px;
        border-radius: 5px;
        background-color: var(--cream-can);
        justify-self: right;
        display: inline-block;
        margin-left: 90px;
        margin-block-end: -10px;
    }

   #yellowBtnFilterCancelContent{
        display: flex;
        width: 31px;
        height: 31px;
        justify-content: center;
        align-items: center;
    }
    #popupCloseIcon1{
        float: right;
        margin-top: 10px;
        margin-right: 10px;
        font-size: 32px;
        color: var(--celtic);
    }
}

/* iPhone Landscape */
@media only screen and (max-width: 900px) and (orientation: landscape) {
   #filterGrid{
        margin-top: 15px;
        margin-bottom: 15px;
        display: flex;
    }
   #filterHorizontalScroll{
        height: auto;
        overflow: auto;
        white-space: nowrap;
        -ms-overflow-style: none; 
        scrollbar-width: none;
    }
   #filterHorizontalScroll::-webkit-scrollbar{
        display: none;
    }
   #filterIcon{
        height: 24px;
        width: auto;
        margin-left: 15px;
        margin-right: 15px;  
    }
   #filterScrollBtn{
        width: auto;
        height: auto;
        background-color: var(--cream-can);
        margin-right: 30px;
        border-radius: 5px;
        display:inline-block;  
    }
   #filterScrollBtnText{
        font-family: var(--base-font);;
        font-size: 12px;
        font-weight: 700;
        color: var(--celtic);
        margin: 0px;
        text-shadow:0 0px 0;
    }
   #filterScrollBtnContent{
        width: 68px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #yellowBtnEmailPopup{
        width: 91px;
        height: 31px;
        border-radius: 5px;
        background-color: var(--cream-can);
        display: inline-block;
        justify-self: center;
        align-self: flex-start;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
   #yellowBtnEmailPopupContent{
        display: flex;
        width: 91px;
        height: 31px;
        justify-content: center;
        align-items: center;
    }

    #ratingFilterPopup {
        width: 528px;
        height: 450px;
        background-color: var(--orange-white);
    }
   #ratingFilterPopupContent {
        width: auto;
        height: 450px;
        display: grid;
        grid-template-rows: 0px 67.3px;
        background-color: var(--orange-white);
    }
    #ratingFilterPopupHeading{
        font-family: var(--base-font);;
        font-weight: 600;
        font-size: 24px;
        color: var(--celtic);
        margin: 0px;
        display: inline-block;
        justify-self: center;
        align-self: flex-end;
    }
    .resturantFilterSubHeading{
        margin: 0px;
        font-family: var(--base-font);
        font-size: 18px;
        color: var(--celtic);
        font-weight: 600;
        margin-left: 50px;
        margin-top: 20px;
        
    }
    #ratingContainer{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto;
        margin-bottom: 10px;
        justify-content: start;
        margin-top: 10px;
    }
    #ratingRadioBtn{
        margin: 0px;
        margin-left: 50px;
        margin-right: 10px;
        width: 15px;
        height: 15px;
        color: var(--celtic);
    }
    #ratingRadioButtonContent{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: start;
    }
    #ratingRadioButtonText{
        font-weight: 500;
        font-size: 13px;
        color: var(--celtic);
        font-family: var(--base-font);
        margin: 0px;
        margin-left: 10px;
        margin-bottom: 13px;
    }
    #yellowBtnApplyPopup{
        width: 91px;
        height: 31px;
        border-radius: 5px;
        background-color: var(--cream-can);
        display: inline-block;
        justify-self: center;
        align-self: flex-start;
        margin-left: 220px;
        
    }
   #yellowBtnapplyPopupContent{
        display: flex;
        width: 91px;
        height: 31px;
        justify-content: center;
        align-items: center;
    }
    #yellowBtnFilterCancel{
        width: 35px;
        height: 31px;
        border-radius: 5px;
        background-color: var(--cream-can);
        justify-self: right;
        display: inline-block;
        margin-left: 160px;
        margin-block-end: -10px;
    }

   #yellowBtnFilterCancelContent{
        display: flex;
        width: 31px;
        height: 31px;
        justify-content: center;
        align-items: center;
    }
    .material-icons.filterOff{
        color: var(--celtic);
        height: auto;
        width: 15px;
        align-content: center;
    }
    #popupCloseIcon1{
        float: right;
        margin-top: 10px;
        margin-right: 10px;
        font-size: 32px;
        color: var(--celtic);
    }
    
    
    

}

/* Medium devices */
/* iPad Pro Portrait only */
@media only screen and (min-width: 768px) and (orientation: portrait) {
   #filterGrid{
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
    }
   #filterHorizontalScroll{
        height: auto;
        overflow: auto;
        white-space: nowrap;
        -ms-overflow-style: none; 
        scrollbar-width: none;
    }
   #filterHorizontalScroll::-webkit-scrollbar{
        display: none;
    }
   #filterIcon{
        height: 64px;
        width: auto;
        margin-left: 28px;
        margin-right: 28px;  
    }
   #filterScrollBtn{
        width: auto;
        height: auto;
        background-color: var(--cream-can);
        margin-right: 70px;
        border-radius: 5px;
        display:inline-block;  
    }
   #filterScrollBtnText{
        font-family: var(--base-font);;
        font-size: 26px;
        font-weight: 700;
        color: var(--celtic);
        margin: 0px;
        text-shadow:0 0px 0;
    }
   #filterScrollBtnContent{
        width: 161.19px;
        height: 56.89px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #yellowBtnEmailPopup{
        width: 247.83px;
        height: 69.75px;
        border-radius: 5px;
        background-color: var(--cream-can);
        display: inline-block;
        justify-self: center;
        align-self: flex-start;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
   #yellowBtnEmailPopupContent{
        display: flex;
        width: 247.83px;
        height: 69.75px;
        justify-content: center;
        align-items: center;
    }

    #ratingFilterPopup {
        width: 700px;
        height: 780px;
        background-color: var(--orange-white);
    }
   #ratingFilterPopupContent {
        width: auto;
        height: 780px;
        display: grid;
        grid-template-rows: 0px 67.3px;
        background-color: var(--orange-white);
    }
    #ratingFilterPopupHeading{
        font-family: var(--base-font);;
        font-weight: 600;
        font-size: 36px;
        color: var(--celtic);
        margin: 0px;
        display: inline-block;
        justify-self: center;
        align-self: flex-end;
    }
    .resturantFilterSubHeading{
        margin: 0px;
        font-family: var(--base-font);
        font-size: 28px;
        color: var(--celtic);
        font-weight: 600;
        margin-left: 50px;
        margin-top: 30px;
        margin-bottom: 20px;
        
    }
    #ratingContainer{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto;
        margin-bottom: 10px;
        justify-content: start;
        margin-top: 10px;
    }
    #ratingRadioBtn{
        margin: 0px;
        margin-bottom: 20px;
        margin-left: 50px;
        margin-right: 10px;
        width: 30px;
        height: 30px;
        color: var(--celtic);
    }
    #ratingRadioButtonContent{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: start;
    }
    #ratingRadioButtonText{
        font-weight: 500;
        font-size: 28px;
        color: var(--celtic);
        font-family: var(--base-font);
        margin: 0px;
        margin-left: 50px;
        margin-bottom: 10px;
    }
    #yellowBtnApplyPopup{
        width: 180px;
        height: 60px;
        border-radius: 5px;
        background-color: var(--cream-can);
        display: inline-block;
        justify-self: center;
        align-self: flex-start;
        margin-left: 260px;
        
    }
   #yellowBtnapplyPopupContent{
        display: flex;
        width: 91px;
        height: 31px;
        display: inline-block;
        margin-left: 50px;
        margin-top: 10px;
        justify-content: center;
        align-items: center;
    }
    #yellowBtnFilterCancel{
        width: 65px;
        height: 60px;
        border-radius: 5px;
        background-color: var(--cream-can);
        justify-self: right;
        display: inline-block;
        margin-left: 180px;
    }

   #yellowBtnFilterCancelContent{
        display: flex;
        width: auto;
        height: 65px;
        justify-content: center;
        align-items: center;
    }
    .material-icons.filterOff{
        color: var(--celtic);
        height: auto;
        width: auto;
        align-content: center;
        font-size: 40px;
    }
    #popupCloseIcon1{
        float: right;
        margin-top: 15px;
        margin-right: 15px;
        font-size: 60px;
        color: var(--celtic);
    }

}



/* iPad Pro Landscape */
@media only screen and (min-width: 1024px) and (orientation: landscape) {
   #filterGrid{
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
    }
   #filterHorizontalScroll{
        height: auto;
        overflow: auto;
        white-space: nowrap;
        -ms-overflow-style: none; 
        scrollbar-width: none;
    }
   #filterHorizontalScroll::-webkit-scrollbar{
        display: none;
    }
   #filterIcon{
        height: 64px;
        width: auto;
        margin-left: 28px;
        margin-right: 28px;  
    }
   #filterScrollBtn{
        width: auto;
        height: auto;
        background-color: var(--cream-can);
        margin-right: 70px;
        border-radius: 5px;
        display:inline-block;  
    }
   #filterScrollBtnText{
        font-family: var(--base-font);;
        font-size: 26px;
        font-weight: 700;
        color: var(--celtic);
        margin: 0px;
        text-shadow:0 0px 0;
    }
   #filterScrollBtnContent{
        width: 161.19px;
        height: 56.89px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #yellowBtnEmailPopup{
        width: 247.83px;
        height: 69.75px;
        border-radius: 5px;
        background-color: var(--cream-can);
        display: inline-block;
        justify-self: center;
        align-self: flex-start;
    }
   #yellowBtnEmailPopupContent{
        display: flex;
        width: 247.83px;
        height: 69.75px;
        justify-content: center;
        align-items: center;
    }
    #ratingFilterPopup {
        width: 890px;
        height: 750px;
        background-color: var(--orange-white);
    }
   #ratingFilterPopupContent {
        width: auto;
        height: 750px;
        display: grid;
        grid-template-rows: 0px 67.3px;
        background-color: var(--orange-white);
    }
    #ratingFilterPopupHeading{
        font-family: var(--base-font);;
        font-weight: 600;
        font-size: 36px;
        color: var(--celtic);
        margin: 0px;
        display: inline-block;
        justify-self: center;
        align-self: flex-end;
    }
    .resturantFilterSubHeading{
        margin: 0px;
        font-family: var(--base-font);
        font-size: 28px;
        color: var(--celtic);
        font-weight: 600;
        margin-left: 90px;
        margin-top: 30px;
        margin-bottom: 20px;
        
    }
    #ratingContainer{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto;
        margin-bottom: 10px;
        justify-content: start;
        margin-top: 10px;
    }
    #ratingRadioBtn{
        margin: 0px;
        margin-bottom: 20px;
        margin-left: 90px;
        margin-right: 10px;
        width: 30px;
        height: 30px;
        color: var(--celtic);
    }
    #ratingRadioButtonContent{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: start;
    }
    #ratingRadioButtonText{
        font-weight: 500;
        font-size: 28px;
        color: var(--celtic);
        font-family: var(--base-font);
        margin: 0px;
        margin-left: 50px;
        margin-bottom: 10px;
    }
    #yellowBtnApplyPopup{
        width: 180px;
        height: 60px;
        border-radius: 5px;
        background-color: var(--cream-can);
        display: inline-block;
        justify-self: center;
        align-self: flex-start;
        margin-left: 420px;
        margin-top: 60px;
        
    }
   #yellowBtnapplyPopupContent{
        display: flex;
        width: 91px;
        height: 31px;
        display: inline-block;
        margin-left: 50px;
        margin-top: 10px;
        justify-content: center;
        align-items: center;
    }
    #yellowBtnFilterCancel{
        width: 65px;
        height: 60px;
        border-radius: 5px;
        background-color: var(--cream-can);
        justify-self: right;
        display: inline-block;
        margin-left: 330px;
        
    }

   #yellowBtnFilterCancelContent{
        display: flex;
        width: auto;
        height: 65px;
        justify-content: center;
        align-items: center;
    }
    .material-icons.filterOff{
        color: var(--celtic);
        height: auto;
        width: auto;
        align-content: center;
        font-size: 40px;
    }
    #popupCloseIcon1{
        float: right;
        margin-top: 15px;
        margin-right: 15px;
        font-size: 60px;
        color: var(--celtic);
    }
}

    


