@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "../variables.css";

.logo{
    max-width: 190px;
    align-self: center;  
    margin-left: 420px;  
}
.sectionHeading{
    font-family: var(--base-font);
    color: var(--celtic);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}

.ui-input-text input, #address{
    background: var(--willow-brook);
    border:1px solid var(--celtic);
}

#registerButton{
    background-color: var(--cream-can);
    width: 212px;
    height:48px;
    color: var(--celtic);
    font-family: var(--base-font);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

input[type=text],input[type=password],#address{
    margin-bottom: 30px;
}

@media only screen and (max-width: 600px) and (orientation: portrait)  {
    .logo{
        margin-left: 40px
    }
}

@media only screen and (max-width: 900px) and (orientation: landscape) {
    .logo{
        margin-left: 245px
    }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
    .logo{        
        margin-left: 300px;  
    }
}

@media only screen and (min-width: 1024px) and (orientation: landscape) {
    .logo{        
        margin-left: 420px;  
    }
}

