@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "../variables.css";
@media only screen and (max-width: 600px) and (orientation: portrait)  {
    .material-icons-outlined.report.celtic { 
        font-size: 24px; 
        color: var(--celtic);
        margin-left: 200px;
   }   
   #yellowLine{
        width: auto;
        height: 2px;
        background-color: var(--cream-can);
        margin-top: 30px;
        margin-bottom: 30px;
   }
   #smallYellowBtn{
        float: right;
   }
   #driver{
        float: none;
   }
   #reciepientName{
        font-size: 18px;
        color: var(--celtic);
        font-family: var(--base-font);
        justify-self: center;
        align-self: center;
        text-shadow:0 0px 0;
   }
   #resDeatsName{
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 18px;
        font-weight: 600;
        justify-self: center;
        align-self: center;
        text-shadow:0 0px 0;
    }
    #address{
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 16px;
        justify-self: center;
        align-self: center;
        text-shadow:0 0px 0;
    }
    #plateNo{
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 16px;
        justify-self: center;
        align-self: center;
        text-shadow:0 0px 0;
    }
}

/* iPhone Landscape */
@media only screen and (max-width: 900px) and (orientation: landscape) {
    #yellowLine{
        width: auto;
        height: 2px;
        background-color: var(--cream-can);
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .material-icons-outlined.report.celtic { 
        font-size: 24px; 
        color: var(--celtic);
        margin-left: 685px;
   }   
   #smallYellowBtn{
        float: right;
    }
    #driver{
        float: none;
    }
    #reciepientName{
        font-size: 18px;
        color: var(--celtic);
        font-family: var(--base-font);
        justify-self: center;
        align-self: center;
        text-shadow:0 0px 0;
   }
   #resDeatsName{
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 18px;
        font-weight: 600;
        justify-self: center;
        align-self: center;
        text-shadow:0 0px 0;
    }
    #address{
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 16px;
        justify-self: center;
        align-self: center;
        text-shadow:0 0px 0;
    }
    #plateNo{
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 16px;
        justify-self: center;
        align-self: center;
        text-shadow:0 0px 0;
    }
}

/* Medium devices */
/* iPad Pro Portrait only */
@media only screen and (min-width: 768px) and (orientation: portrait) {
    #yellowLine{
        width: auto;
        height: 4px;
        background-color: var(--cream-can);
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .material-icons-outlined.report.celtic{
        font-size: 36px;
        margin-left: 700px;
        color: var(--celtic);
    }
    #smallYellowBtn{
        float: right;
    }
    #driver{
        float: none;
    }
    #reciepientName{
        font-size: 28px;
        color: var(--celtic);
        font-family: var(--base-font);
        justify-self: center;
        align-self: center;
        text-shadow:0 0px 0;
   }
   #resDeatsName{
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 28px;
        font-weight: 600;
        justify-self: center;
        align-self: center;
        text-shadow:0 0px 0;
    }
    #address{
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 26px;
        justify-self: center;
        align-self: center;
        text-shadow:0 0px 0;
    }
    #plateNo{
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 26px;
        justify-self: center;
        align-self: center;
        text-shadow:0 0px 0;
    }
}

/* iPad Pro Landscape */
@media only screen and (min-width: 1024px) and (orientation: landscape) {
    #yellowLine{
        width: auto;
        height: 4px;
        background-color: var(--cream-can);
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .material-icons-outlined.report.celtic{
        font-size: 36px;
        margin-left: 1040px;
        color: var(--celtic);
    }
    #smallYellowBtn{
        float: right;
        margin-bottom: 30px;
    }
    #driver{
        float: none;
    }
    #reciepientName{
        font-size: 28px;
        color: var(--celtic);
        font-family: var(--base-font);
        justify-self: center;
        align-self: center;
        text-shadow:0 0px 0;
   }
   #resDeatsName{
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 28px;
        font-weight: 600;
        justify-self: center;
        align-self: center;
        text-shadow:0 0px 0;
    }
    #address{
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 26px;
        justify-self: center;
        align-self: center;
        text-shadow:0 0px 0;
    }
    #plateNo{
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 26px;
        justify-self: center;
        align-self: center;
        text-shadow:0 0px 0;
    }
}