@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "../variables.css";

/* iPhone potrait only */
@media only screen and (max-width: 600px) and (orientation: portrait){
    #logoutBtn{
        width: 90px;
        height: 30px;
        border-radius: 5px;
        background-color: var(--cream-can);
        margin-left: 0px;
        margin-top: 0px;
        justify-self: center;
        align-self: center;
        display: inline-block;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    
    #logoutBtnText{
        font-family: var(--base-font);
        font-size: 13px;
        font-weight: 600;
        color: var(--celtic);
        margin-left: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 30px;
        text-shadow: 0 0px 0;
        
    }

    #dealsBtn{
        width: 90px;
        height: 30px;
        border-radius: 5px;
        background-color: var(--cream-can);
        align-self: right;
        margin-top: 0px;
        justify-self: center;
        align-self: center;
        display: block;
        float: right;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    #dealsBtnText{
        font-family: var(--base-font);
        font-size: 13px;
        font-weight: 600;
        color: var(--celtic);
        margin-left: 11px;
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 30px;
        text-shadow: 0 0px 0;
        
    }

    #userprofileImage{
        border-radius: 50%;
        width: 180px;
        height: 180px;
        display: block;
        margin-left: 100px;
        margin-right: auto;
    }
    .material-icons.addpictureIcon{
        font-size: 30px;
        color: var(--celtic);
        position: absolute;
        left: 270px;
        top: 400px;
    }

    .accountInformation{
        font-family: var(--base-font);
        font-size: 16px;
        font-weight: 600;
        color: var(--celtic);
        background-color: var(--orange-white);
        display: inline-block;
        padding-top: 20px;
    }
    .material-icons.accInfoIcon{
        font-size: 20px;
        color: var(--celtic);
        display: inline-block;
        padding-left: 15px;
        position: absolute;
        top: 448px;
    }
    
    .userinformationbox{
        
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 16px;
        font-weight: 500;
        background-color: unset;
        border-color: unset;
        height: auto;
        width: 373px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 15px;
    }
    #emailbox1{
        width: 394px;
        height: auto;
        border-radius: 5px;
        background-color: var(--willow-brook);
        border-color: var(--celtic);
        border-style: solid;
        border-width: 1px;
        margin-bottom: 30px;
        
    }
    
    .material-icons.pwIcon1{
        font-size: 20px;
        color: var(--celtic);
        position: absolute;
        top: 626px;
        left: 370px;
    }
    .material-icons.pwIcon2{
        font-size: 20px;
        color: var(--celtic);
        position: absolute;
        top: 695px;
        left: 370px;
    }
    
    .billingInformation{
        font-family: var(--base-font);
        font-size: 16px;
        font-weight: 600;
        color: var(--celtic);
        background-color: var(--orange-white);
    }
    
    .addressbox{
        background-color: var(--willow-brook);
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 16px;
        font-weight: 500;
        border-color: var(--celtic);
        border-style: solid;
        border-width: 1px;
        border-radius: 5px;
        height: 74px;
        width: 374px;
        padding-left: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    #addressbox1{
        width: 392px;
        height: 75px;
        border-radius: 5px;
        background-color: var(--willow-brook);
        border-color: var(--celtic);
        border-style: solid;
        border-width: 1px;
        margin-bottom: 30px;
    }
    .material-icons.locationIcon{
        font-size: 20px;
        color: var(--celtic);
        position: absolute;
        top: 950px;
        left: 370px;
    }
    
    #saveBtn{
        width: 90px;
        height: 30px;
        border-radius: 5px;
        background-color: var(--cream-can);
        margin: auto;
        margin-top: 20px;
        margin-bottom: 30px;
        justify-self: center;
        align-self: center;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    #saveBtnText{
        font-family: var(--base-font);
        font-size: 16px;
        font-weight: 600;
        color: var(--celtic);
        margin-left: 25%;
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 30px;
        text-shadow: 0 0px 0;
    }

}

/* iPhone landscape only */
@media only screen and (max-width: 900px) and (orientation: landscape) {

    #logoutBtn{
        width: 90px;
        height: 30px;
        border-radius: 5px;
        background-color: var(--cream-can);
        margin-left: 0px;
        margin-top: 0px;
        justify-self: center;
        align-self: center;
        display: inline-block;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    #logoutBtnText{
        font-family: var(--base-font);
        font-size: 16px;
        font-weight: 600;
        color: var(--celtic);
        margin-left: 13px;
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 30px;
        text-shadow: 0 0px 0;
        
    }

    #dealsBtn{
        width: 90px;
        height: 30px;
        border-radius: 5px;
        background-color: var(--cream-can);
        align-self: right;
        margin-top: 0px;
        justify-self: center;
        align-self: center;
        display: block;
        float: right;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    #dealsBtnText{
        font-family: var(--base-font);
        font-size: 13px;
        font-weight: 600;
        color: var(--celtic);
        margin-left: 11px;
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 30px;
        text-shadow: 0 0px 0;
        
    }

    #userprofileImage{
        border-radius: 50%;
        width: 180px;
        height: 180px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .material-icons.addpictureIcon{
        font-size: 30px;
        color: var(--celtic);
        position: absolute;
        left: 500px;
        top: 400px;
    }

    /* .accountInformation{
        font-family: var(--base-font);
        font-size: 16px;
        font-weight: 600;
        color: var(--celtic);
        background-color: var(--orange-white);
    } */

    .accountInformation{
        font-family: var(--base-font);
        font-size: 18px;
        font-weight: 600;
        color: var(--celtic);
        background-color: var(--orange-white);
        display: inline-block;
        padding-top: 20px;
        padding-left: 150px;
    }
    .material-icons.accInfoIcon{
        font-size: 20px;
        color: var(--celtic);
        display: inline-block;
        padding-left: 15px;
        position: absolute;
        top: 448px;
    }
    /* .userinformationbox{
        background-color: var(--willow-brook);
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 16px;
        font-weight: 500;
        border-color: var(--celtic);
        border-style: solid;
        border-width: 1px;
        border-radius: 5px;
    } */

    .userinformationbox{
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 16px;
        font-weight: 500;
        background-color: unset;
        border-color: unset;
        height: auto;
        width: 532px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 15px;
    }
    #emailbox1{
        width: 551px;
        margin-left: 150px;
        height: auto;
        border-radius: 5px;
        background-color: var(--willow-brook);
        border-color: var(--celtic);
        border-style: solid;
        border-width: 1px;
        margin-bottom: 30px;
        
    }
    .material-icons.pwIcon1{
        font-size: 20px;
        color: var(--celtic);
        position: absolute;
        top: 632px;
        left: 680px;
    }
    .material-icons.pwIcon2{
        font-size: 20px;
        color: var(--celtic);
        position: absolute;
        top: 700px;
        left: 680px;
    }
    
    .billingInformation{
        font-family: var(--base-font);
        font-size: 16px;
        font-weight: 600;
        color: var(--celtic);
        background-color: var(--orange-white);
        padding-left: 150px;
    }
    
    /* #addressbox{
        background-color: var(--willow-brook);
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 16px;
        font-weight: 500;
        border-color: var(--celtic);
        border-style: solid;
        border-width: 1px;
        border-radius: 5px;
        height: 70px;
    } */

    .addressbox{
        background-color: var(--willow-brook);
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 16px;
        font-weight: 500;
        border-color: var(--celtic);
        border-style: solid;
        border-width: 1px;
        border-radius: 5px;
        height: 70px;
        width: 531px;
        padding-left: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #addressbox1{
        width: 531px;
        height: 70px;
        border-radius: 5px;
        background-color: var(--willow-brook);
        border-color: var(--celtic);
        border-style: solid;
        border-width: 1px;
        margin-bottom: 30px;
        margin-left: 150px;
    }
    .material-icons.locationIcon{
        font-size: 20px;
        color: var(--celtic);
        position: absolute;
        top: 960px;
        left: 670px;
    }
    
    #saveBtn{
        width: 90px;
        height: 30px;
        border-radius: 5px;
        background-color: var(--cream-can);
        margin: auto;
        margin-top: 20px;
        margin-bottom: 30px;
        justify-self: center;
        align-self: center;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    #saveBtnText{
        font-family: var(--base-font);
        font-size: 16px;
        font-weight: 600;
        color: var(--celtic);
        margin-left: 25%;
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 30px;
        text-shadow: 0 0px 0;
    }

}

/* iPad potrait only */
@media only screen and (min-width: 768px) and (orientation: portrait) {
    #logoutBtn{
        width: 150px;
        height: 50px;
        border-radius: 5px;
        background-color: var(--cream-can);
        margin-left: 0px;
        margin-top: 0px;
        justify-self: center;
        align-self: center;
        display: inline-block;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    #logoutBtnText{
        font-family: var(--base-font);
        font-size: 28px;
        font-weight: 600;
        color: var(--celtic);
        margin-left: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 50px;
        text-shadow: 0 0px 0;
        
    }

    #dealsBtn{
        width: 150px;
        height: 50px;
        border-radius: 5px;
        background-color: var(--cream-can);
        align-self: right;
        margin-top: 0px;
        justify-self: center;
        align-self: center;
        display: block;
        float: right;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    #dealsBtnText{
        font-family: var(--base-font);
        font-size: 24px;
        font-weight: 600;
        color: var(--celtic);
        margin-left: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 50px;
        text-shadow: 0 0px 0;
        
    }

    #userprofileImage{
        border-radius: 50%;
        width: 300px;
        height: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .material-icons.addpictureIcon{
        font-size: 50px;
        color: var(--celtic);
        position: absolute;
        left: 600px;
        top: 580px;
    }

    .accountInformation{
        font-family: var(--base-font);
        font-size: 36px;
        font-weight: 600;
        color: var(--celtic);
        background-color: var(--orange-white);
        display: inline-block;
        padding-top: 20px;
        margin-left: 140px;
    }
    .material-icons.accInfoIcon{
        font-size: 40px;
        color: var(--celtic);
        display: inline-block;
        padding-left: 30px;
        position: absolute;
        top: 655px;
    }
    /* .userinformationbox{
        background-color: var(--willow-brook);
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 28px;
        font-weight: 500;
        border-color: var(--celtic);
        border-style: solid;
        border-width: 1px;
        margin-bottom: 30px;
        border-radius: 5px;
    } */
    .userinformationbox{
        
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 28px;
        font-weight: 500;
        background-color: unset;
        border-color: unset;
        height: auto;
        width: 682.5px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 15px;
    }

    #emailbox1{
        width: 700px;
        height: auto;
        border-radius: 5px;
        background-color: var(--willow-brook);
        border-color: var(--celtic);
        border-style: solid;
        border-width: 1px;
        margin-bottom: 30px;
        margin-left: 140px;
        
    }
    .material-icons.locationIcon{
        font-size: 40px;
        color: var(--celtic);
        position: absolute;
        top: 1360px;
        left: 790px;
    }
    .material-icons.pwIcon1{
        font-size: 40px;
        color: var(--celtic);
        position: absolute;
        top: 910px;
        left: 790px;
    }
    .material-icons.pwIcon2{
        font-size: 40px;
        color: var(--celtic);
        position: absolute;
        top: 990px;
        left: 790px;
    }

    /* input{
        background-color: var(--willow-brook);
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 28px;
        font-weight: 500;
        border-color: var(--celtic);
        border-style: solid;
        border-width: 1px;
        margin-bottom: 30px;
        border-radius: 5px;
    } */
    
    .billingInformation{
        font-family: var(--base-font);
        font-size: 28px;
        font-weight: 600;
        color: var(--celtic);
        background-color: var(--orange-white);
        margin-left: 140px;
    }
    
    .addressbox{
        background-color: var(--willow-brook);
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 28px;
        font-weight: 500;
        border-color: var(--celtic);
        border-style: solid;
        border-width: 1px;
        border-radius: 5px;
        height: 150px;
        width: 680px;
        padding-left: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    #addressbox1{
        width: 690px;
        height: 150px;
        border-radius: 5px;
        background-color: var(--willow-brook);
        border-color: var(--celtic);
        border-style: solid;
        border-width: 1px;
        margin-bottom: 30px;
        margin-left: 140px;
    }
    
    #saveBtn{
        width: 150px;
        height: 50px;
        border-radius: 5px;
        background-color: var(--cream-can);
        margin: auto;
        margin-top: 20px;
        margin-bottom: 30px;
        justify-self: center;
        align-self: center;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    #saveBtnText{
        font-family: var(--base-font);
        font-size: 34px;
        font-weight: 600;
        color: var(--celtic);
        margin-left: 25%;
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 50px;
        text-shadow: 0 0px 0;
    }


}

/* iPad landscape only */
@media only screen and (min-width: 1024px) and (orientation: landscape) {
    #logoutBtn{
        width: 150px;
        height: 50px;
        border-radius: 5px;
        background-color: var(--cream-can);
        margin-left: 0px;
        margin-top: 0px;
        justify-self: center;
        align-self: center;
        display: inline-block;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    #logoutBtnText{
        font-family: var(--base-font);
        font-size: 28px;
        font-weight: 600;
        color: var(--celtic);
        margin-left: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 50px;
        text-shadow: 0 0px 0;
        
    }

    #dealsBtn{
        width: 150px;
        height: 50px;
        border-radius: 5px;
        background-color: var(--cream-can);
        align-self: right;
        margin-top: 0px;
        justify-self: center;
        align-self: center;
        display: block;
        float: right;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    #dealsBtnText{
        font-family: var(--base-font);
        font-size: 24px;
        font-weight: 600;
        color: var(--celtic);
        margin-left: 11px;
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 50px;
        text-shadow: 0 0px 0;
        
    }

    #userprofileImage{
        border-radius: 50%;
        width: 300px;
        height: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .material-icons.addpictureIcon{
        font-size: 50px;
        color: var(--celtic);
        position: absolute;
        left: 780px;
        top: 580px;
    }

    .accountInformation{
        font-family: var(--base-font);
        font-size: 36px;
        font-weight: 600;
        color: var(--celtic);
        background-color: var(--orange-white);
        display: inline-block;
        padding-top: 20px;
        margin-left: 140px;
    }
    .material-icons.accInfoIcon{
        font-size: 40px;
        color: var(--celtic);
        display: inline-block;
        padding-left: 30px;
        position: absolute;
        top: 655px;
    }
    /* .userinformationbox{
        background-color: var(--willow-brook);
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 28px;
        font-weight: 500;
        border-color: var(--celtic);
        border-style: solid;
        border-width: 1px;
        margin-bottom: 30px;
        border-radius: 5px;
    } */
    .userinformationbox{
        
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 28px;
        font-weight: 500;
        background-color: unset;
        border-color: unset;
        height: auto;
        width: 982px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 15px;
    }

    #emailbox1{
        width: 1000px;
        height: auto;
        border-radius: 5px;
        background-color: var(--willow-brook);
        border-color: var(--celtic);
        border-style: solid;
        border-width: 1px;
        margin-bottom: 30px;
        margin-left: 140px;
        
    }
    .material-icons.locationIcon{
        font-size: 40px;
        color: var(--celtic);
        position: absolute;
        top: 1360px;
        left: 1100px;
    }
    .material-icons.pwIcon1{
        font-size: 40px;
        color: var(--celtic);
        position: absolute;
        top: 910px;
        left: 1100px;
    }
    .material-icons.pwIcon2{
        font-size: 40px;
        color: var(--celtic);
        position: absolute;
        top: 990px;
        left: 1100px;
    }

    /* input{
        background-color: var(--willow-brook);
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 28px;
        font-weight: 500;
        border-color: var(--celtic);
        border-style: solid;
        border-width: 1px;
        margin-bottom: 30px;
        border-radius: 5px;
    } */
    
    .billingInformation{
        font-family: var(--base-font);
        font-size: 28px;
        font-weight: 600;
        color: var(--celtic);
        background-color: var(--orange-white);
        margin-left: 140px;
    }
    
    .addressbox{
        background-color: var(--willow-brook);
        color: var(--celtic);
        font-family: var(--base-font);
        font-size: 28px;
        font-weight: 500;
        border-color: var(--celtic);
        border-style: solid;
        border-width: 1px;
        border-radius: 5px;
        height: 150px;
        width: 980px;
        padding-left: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    #addressbox1{
        width: 990px;
        height: 150px;
        border-radius: 5px;
        background-color: var(--willow-brook);
        border-color: var(--celtic);
        border-style: solid;
        border-width: 1px;
        margin-bottom: 30px;
        margin-left: 140px;
    }
    
    #saveBtn{
        width: 150px;
        height: 50px;
        border-radius: 5px;
        background-color: var(--cream-can);
        margin: auto;
        margin-top: 20px;
        margin-bottom: 30px;
        justify-self: center;
        align-self: center;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    #saveBtnText{
        font-family: var(--base-font);
        font-size: 34px;
        font-weight: 600;
        color: var(--celtic);
        margin-left: 25%;
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 50px;
        text-shadow: 0 0px 0;
    }
}
